[2018-12-05 21:57] rugk commented on #349
Looks good, IMHO. :smile:

[2018-12-05 22:31] stevensonmt commented on #478
I may be misunderstanding, but my impression of your suggestion is to create a tangent between the background and the text. This would decrease legibility in my opinion. I would suggest either not having lower case break the bounds of the background at all or lowering the background height further to create more distance between the lines of sight. The colors and levels of contrast are a bigger is

[2018-12-05 22:46] aturon commented on #419
I'm sorry I haven't been able to participate more directly in this thread due to travel and the short timeframe. But I've tried to take some of the rough consensus here and shop it around the core team for buy-in.

Everyone is feeling comfortable or good with:

*Empowering everyone to build reliable and efficient software" (no italics)

(Very close variants of that slogan have appeared many times

[2018-12-06 03:22] Mark-Simulacrum commented on #557
FWIW at this point I think the best solution if we want this is to just edit the code/template manually and re-deploy at release to link the version string to the blog post. From the release team's/my point of view, that's fine, but I can imagine that being something we're hesitant to do right around big publicity

[2018-12-06 04:39] andrei-cacio commented on #349
Awesome ! I will prepare a PR then.

[2018-12-06 05:08] #419 closed

[2018-12-06 05:09] ashleygwilliams commented on #558
i agree! i would welcome a PR for this :)

[2018-12-06 06:08] softprops commented on #472
closing this as a dup. I shared my thoughts in the other gh issue. thanks!

[2018-12-06 06:08] #472 closed

[2018-12-06 08:50] skade commented on #27
I got testing feedback from a braille line user and they liked the page :).

[2018-12-06 12:16] dogweather commented on #445
For how to present this technical content: how about strategy of different "tracks" for the different audiences? This is a common technique when there's both a business case to make and a technical case.

[2018-12-06 14:09] The-lady-developer commented on #558
Hi @ashleygwilliams! I want to work on this.

[2018-12-06 15:27] jlgerber opened #562 "Most important links have the least visual impact"
# Design Feature Request
## Summary
The most important links on this page for return visitors are the links at the top:
- install
- learn
- tools
- community
- etc
please style them so they are more prominent

## Motivation
The rust homepage is not just an advertising space for the language; it is a resource for developers. I find that I and my colleagues are constantly clicking on these links in

[2018-12-06 15:40] ankushChatterjee commented on #430
Starting out here so will like to make a PR for these specific content changes, is PR still welcome?

[2018-12-06 15:53] ashleygwilliams commented on #562
hi @jlgerber - those links are in the top level nav- which i think is one of the most prominent spaces in the site. can u clarify how you would like them to be more prominent? thanks!

[2018-12-06 15:55] ashleygwilliams commented on #558
@The-lady-developer that's awesome! let me know if you have any questions :)

[2018-12-06 16:04] chriskrycho commented on #366
In my view both of those suggested tags are semantically inappropriate for what we're doing there, especially `abbr` – we could use `dfn` but only if we supplied a definition. I think we'd be better of just not styling them at all.

[2018-12-06 16:05] chriskrycho commented on #430
Definitely, @ankushChatterjee!

[2018-12-06 16:18] #388 closed

[2018-12-06 16:18] eddyp commented on #412
I strongly agree with the idea, at work I have a laptop and 2 external small (19 inch) monitors and this is how the beta page looks when Firefox is maximized on:

![image](https://user-images.githubusercontent.com/123772/49595285-4eebb380-f980-11e8-954e-cc1e4848389a.png)

This is it, basically none of the "Why Rust?" content, not even the titles are visible on the default landing page.

To have th

[2018-12-06 16:24] eddyp commented on #478
Looking at the current page, I think eliminating the yellow is easiest, by replacing it with the pink-ish color int the "GET STARTED" background. I think the yellow at the bottom of the page could be replaced either with the green or plain white (since links are underlined, anyway).

[2018-12-06 16:58] chriskrycho commented on #536
Notably, Nielson Norman Group's *own website* violates this rule: its home page has links to the home page via both their logo and a "Home" link. I think the general pattern of web site design actually militates strongly *against* this suggestion, because most sites (whatever NNG thinks!) *do* have this pattern.

[2018-12-06 17:03] chriskrycho commented on #412
I'm not sure what resolution you're dealing with, but even at 1280⨉720, most of that first section is visible:

<img width="640" alt="screen shot 2018-12-06 at 10 01 40 am" src="https://user-images.githubusercontent.com/2403023/49599364-0ad7bf00-f93e-11e8-9249-15dca8c188ec.png">

We could certainly tweak it slightly further, but I think that's a pretty reasonable place to be at the moment. 🤔

[2018-12-06 17:12] #536 closed

[2018-12-06 17:20] ankushChatterjee commented on #430
Please check PR #567

[2018-12-06 17:42] agentsim opened #568 "Missing link to this-week-in-rust"
# Content Feature Request
## Summary
A link to this-week-in-rust from the community page.

## Motivation
This-week-in-rust is a great way to stay up to date with news about Rust, about best practices, interesting projects and crates, and generally a great way to learn about the language. I've found it very valuable.

[2018-12-06 17:44] #430 closed

[2018-12-06 17:45] ashleygwilliams commented on #568
i agree! i'm not entirely sure where it would go but i would welcome a PR for this! perhaps the community page?

[2018-12-06 18:06] ashleygwilliams commented on #558
closed by #569 - sorry @The-lady-developer - if there's another issue you'd like to take on, let me know!

[2018-12-06 18:06] #558 closed

[2018-12-06 18:08] eddyp commented on #412
I am using 2 Dell E1911 whose maximum resolution is 1440x900.

[2018-12-06 18:14] #366 closed

[2018-12-06 18:14] #415 closed

[2018-12-06 18:17] ashleygwilliams commented on #408
this was closed by #542

[2018-12-06 18:17] #408 closed

[2018-12-06 18:53] djrenren opened #572 "Unintended horizontal scrolling on iOS due to Calendar"
# Technical Bug Report
The "Upcoming Events" calendar is too wide for the viewport. This makes the whole page scrollable to the right where it is entirely white except for where the calendar is visible.

## Your Environment
| Software         | Version(s) |
| ---------------- | ---------- |
| Form Factor      | Mobile |
| Browser Type     | Safari |
| Browser Version  | 12 |

## Is this an issue w

[2018-12-06 18:56] ashleygwilliams commented on #572
thank you for filing! this is indeed unfortunate!

[2018-12-06 19:09] ashleygwilliams commented on #222
closing. we'll just file separate issues as they come up.

[2018-12-06 19:09] #222 closed

[2018-12-06 19:09] #427 closed

[2018-12-06 19:09] #572 closed

[2018-12-06 19:09] ashleygwilliams commented on #347
this will be improve by #349 - closing in favor of that, as there is an accessible solution being discussed.

[2018-12-06 19:09] #347 closed

[2018-12-06 19:10] stevensonmt opened #575 "Reduce height of highlight blocks to improve readability of section headers"
# Design Feature Request
## Summary
The current highlight blocks have a height that creates a distracting interruption of the text. Reducing this height still provides the effect of boldly setting of the section headers without increasing the difficulty of visually scanning the text.

## Motivation
Expected outcome is to improve readability of text.

## Drawbacks
Drawbacks are minimal. Would impac

[2018-12-06 19:12] RalfJung opened #576 "RSS feed is missing [regression]"
# Technical Feature Request
## Summary
The new website lacks an RSS feed. My feedreader points at https://blog.rust-lang.org/feed.xml and that just comes back with 404 now.  I wondered why I hadn't seen the edition announcement, now I know!

## Motivation
RSS worked on the old site. This is an unexpected regression.

## Drawbacks
Maybe this can't be auto-generated? But why shouldn't it?

[2018-12-06 19:15] tyranron commented on #576
Same here.

[2018-12-06 19:20] ashleygwilliams commented on #576
this is a dupe of a previous issue and also filed on the incorrect repo. the issue is here: https://github.com/rust-lang/blog.rust-lang.org/issues/311

[2018-12-06 19:20] #576 closed

[2018-12-06 19:35] #135 closed

[2018-12-06 19:35] #310 closed

[2018-12-06 19:36] #141 closed

[2018-12-06 19:38] ashleygwilliams commented on #27
@skade yes that'd be great! or even better- an issue for each thing that will need to be fixed ;)

[2018-12-06 19:46] jeremy-w opened #577 ""Looking for the previous website?" link goes to 404"
# Technical Bug Report
## Your Environment
| Software         | Version(s) |
| ---------------- | ---------- |
| Form Factor      | Desktop |
| Browser Type     | all |
| Browser Version  | latest |

## Is this an issue with Rust, CSS, or HTML (or a combination)?
I guess HTML, but suspect the fix is not going to involve fixing the HTML, but some GitHub config.

## Expected Behavior
When I click "p

[2018-12-06 20:06] ashleygwilliams commented on #577
good catch. i believe this was caused by me renaming the previous site's repo. thank you for the comprehensive issue- i'm working to fix it right now!

[2018-12-06 20:38] donald-pinckney opened #581 "Terms and Policy Links 404 from blog post"
## Summary
From the Rust 2018 announcement blog post, the Terms and Policy links 404.

### Steps to Reproduce:

1. Visit https://blog.rust-lang.org/2018/12/06/Rust-1.31-and-rust-2018.html
2. Go to the bottom of the page, and open any link under “Terms and policies” in the footer. It then 404s.

Note: I can’t reproduce from a non-blog post page.

## Your Environment
Mobile Safari, iPhone 8+, iOS 12

[2018-12-06 21:22] jthile commented on #575
The readability improvement comes from not slicing through the interior, empty spaces of glyphs, just to put a precise description on the change. The shapes of those spaces are important in recognizing the letters.

[2018-12-06 21:48] stevensonmt commented on #575
When putting together the PR I'd like to not introduce other problems/inconsistencies. The positioning of the bottom of the highlight block is a little inconsistent relative to the bottom edge of descender portion of the 'p' in 'production' versus the 'y' in 'Why Rust'. Is there a preference for which spacing to preserve?

[2018-12-06 22:20] ashleygwilliams commented on #577
this has been fixed now! thank you so much for filing!

[2018-12-06 22:20] #577 closed

[2018-12-06 22:20] ashleygwilliams commented on #581
this is a dupe of https://github.com/rust-lang/blog.rust-lang.org/issues/304! thank you! we'll get right on it!

[2018-12-06 22:20] #581 closed

[2018-12-06 22:22] ashleygwilliams commented on #575
@stevensonmt i don't have strong feelings- i defer to what you'd prefer!

[2018-12-06 22:52] andreilorin opened #582 "cli "Get started!" code snippet does not compile"
# Content Bug Report

## Page(s) Affected
Please list the page or pages this bug is present on. Please file one issue
for each bug you find. Only file an issue for a multi-page bug if the bug is
indeed the *same* bug, across the pages.

https://www.rust-lang.org/what/cli

## What needs to be fixed?
Tell us what content is causing the issue and *how* it is causing the issue.
For example, "The code

[2018-12-06 23:00] SoniEx2 opened #584 "Add autistic.rust-lang.org with less colors"
# Design Feature Request
## Summary
One paragraph explanation of the design you'd like to see added.

There should be an autistic.rust-lang.org that's a variant of the main website with a different design, mainly colors.

## Motivation
Why are we doing this? What use cases does it support? What is the expected
outcome?

The current colors are too harsh for autistic ppl.

## Drawbacks
Why should we

[2018-12-06 23:32] Aloso opened #586 "Improve legibility of text with low contrast"
## Motivation

The W3C recommends for text to use a contrast ratio of at least 4,5:1 for good legibility and at least 7:1 for users with moderately low vision.

This is especially relevant for this website, since because of the flashy colours, the eyes can get tired faster. This website uses text with as little contrast as 4,53 : 1, so it's unsuitable for anyone who does not have perfect eyesight

[2018-12-07 00:46] Munkyfoot commented on #568
Link created. PR submitted.

[2018-12-07 04:20] Maxgy opened #587 "get started button too small and off center"
The "Get Started" button seems shrunken and the current stable version link is too large.  Can this be changed?  I have no specifics but the Get Started button being enlarged and centered in the right side of that desktop screen and the version link to be smaller.

![image](https://user-images.githubusercontent.com/19353212/49627467-3a1d1900-f99c-11e8-8882-e3a864b1cb7d.png)

[2018-12-07 06:43] 3442853561 opened #589 "Some suggestions for localizing new websites(Some lessons learned when localizing old websites)"
I have already read [issue 96](https://github.com/rust-lang/www.rust-lang.org/issues/96).

- Translate in sentences and give the English text when the mouse stays on this sentence.
    -  Some words do not exist in languages such as Chinese, so that translators can only explain the meaning of the original sentence as much as possible.
    - The emotional tendencies expressed in certain sentences m

[2018-12-07 08:44] Benjamin-L commented on #396
This keeps getting mentioned in a *lot* places that decisions have already been made or that things were already discussed. I'm just curious if there's a place I can look at the discussion involved in these decisions that are now set in stone. Even if things aren't going to change at this point I would really like to know what the thought process or evidence behind the new design was, and honestly

[2018-12-07 09:43] IsaacWoods opened #590 "Bad kerning on double f in slogan on Chrome/Linux"
(Sorry for not following the issue template quite - maybe a template for small style issues like this would suit better?)

# Design Feature Request
## Summary
The slogan doesn't render brilliantly on Chrome 66. I assume this is because it tries to ligature the `fi`, which makes the second `f` appear lower and too close to the first.
![rust bad kerning](https://user-images.githubusercontent.com/103

[2018-12-07 11:08] eddyp opened #591 "Rust 1.31 / 2018 release noted states clippy, rustfmt and rls are stable, but install instructions don't work on Windows"
# Content Bug Report
It seems that clippy and rustfmt are still not stable on Windows MSVC, even if the release notes for 1.31/Edition 2018 say they are. Only the -preview flavors are available:

[code]

## Page(s) Affected
https://blog.rust-lang.org/2018/12/06/Rust-1.31-and-rust-2018.html
section New tools says:

And says nothing about rls, but only about the IDEs.

## What needs to be fixed?
Sho

[2018-12-07 11:54] willi-kappler opened #592 "forge.rust-lang.org doesn't have the newest 2018 Rust release 1.31.0"
# Content Bug Report
Those who can't use rustup have to download it from the rustforge webpage: "Standalone installers".
Unfortunately that page doesn't show the newest stable release 1.31.0.

## Page(s) Affected
https://forge.rust-lang.org/other-installation-methods.html#standalone

## What needs to be fixed?
Update the URLs.

## Suggested Improvement
Replace rust-1.30.1 with rust-1.31.0 in the f

[2018-12-07 13:17] SimonSapin opened #593 "URLs for the old website should redirect (if appropriate)"
For example, https://www.rust-lang.org/conduct.html to https://www.rust-lang.org/policies/code-of-conduct instead of 404. Let’s try not to break existing links :)

[2018-12-07 13:42] Maxgy commented on #590
Both my phone and PC have two perfectly aligned 'f's.  Is this still a problem for you?

[2018-12-07 14:05] ashleygwilliams commented on #584
Hi @SoniEx2 ! We are only interested in maintaining a single design at this time.

[2018-12-07 14:05] #584 closed

[2018-12-07 14:07] ashleygwilliams commented on #592
Hi! This repo does not contain the code for forge.rust-lang.org. That exists here: https://github.com/rust-lang/rust-forge. I'll transfer this issue for you!

[2018-12-07 14:09] ashleygwilliams commented on #586
Hi @Aloso ! Thanks for filing- these types of small changes are exactly what we are looking for. I would happily accept a PR to start address this! Feel free to play around with it and we can coordinate in a Work In Progress PR :) Thank you for the thoughtful issue!

[2018-12-07 14:09] ashleygwilliams commented on #587
I agree! I'm not entirely sure how this happened, but it's something I noticed yesterday as well. cc @chriskrycho

I would happily welcome a PR to fix this!

[2018-12-07 14:11] ashleygwilliams commented on #591
I believe this was a bug with these tools specifically! They are well known and being addressed.

[2018-12-07 14:11] #591 closed

[2018-12-07 14:12] ashleygwilliams commented on #590
This is very interesting- thank you for filing @IsaacWoods ! Could you give us some more information on the browser you viewed this issue in?

[2018-12-07 14:14] #582 closed

[2018-12-07 14:33] steveklabnik commented on #591
Update rustup, uninstall 1.31, and install it again. It should work. If not, please file a bug against rustup.

[2018-12-07 14:35] eddyp commented on #591
So on a "from scratch" install it should also work as expected, correct?

[2018-12-07 14:38] SamWhited commented on #593
https://blog.rust-lang.org/feed.xml is also 404ing right now and my feed reader is broken.

[2018-12-07 14:47] mbrubeck commented on #593
This is blog.rust-lang.org#307.

[2018-12-07 14:58] chriskrycho commented on #590
Chrome 66 on what OS, specifically? There's actually an "ffi" ligature in the font which *should* be rendered in any Chrome version since… a long time ago, well before 66. 🤔

[2018-12-07 15:14] SimonSapin commented on #593
I don’t have a specific URL in mind. But ideally, all of them. I *think* listing `.md` files in https://github.com/rust-lang/prev.rust-lang.org would provide an exhaustive list?

[2018-12-07 15:21] mbrubeck commented on #593
#597 has redirects for all of the .md files in the old site except for faq.md, for which there is no reasonable equivalent in the new site.

[2018-12-07 15:31] pickfire commented on #593
I think https://www.rust-lang.org/what/cli have some URLs that is redirecting to the 2018 edition book which is no longer distributed.

[2018-12-07 15:53] IsaacWoods commented on #590
Chrome on up-to-date Fedora 28, specifically. I've also just checked on Firefox on the same machine and it renders correctly, so this looks like a Chrome-specific issue.

The contents of `chrome://version`:
[code]

[2018-12-07 16:02] mbrubeck commented on #593
These were fixed in b928a99ebad8ca90c2436069ddac50918e857d30.

Please file separate issues for other broken links that don't involve old www.rust-lang.org URIs.

[2018-12-07 17:05] ashleygwilliams commented on #591
please take this convo to the rustup repo, this is not the correct place to have this conversation.

[2018-12-07 18:48] TropicSapling opened #600 "Typo on "Community" page"
# Content Bug Report

## Page(s) Affected
Community

## What needs to be fixed?
The "Increasing Rust's Reach" section says `Increasing Rust’s Reach is a program matches Rust team members [...]` when it should say `Increasing Rust’s Reach is a program that matches Rust team members [...]` (the word `that` is missing and needs to be added)

[2018-12-07 19:53] Coder206 commented on #372
I navigated to the HTTP version of the site with Firefox ESR, Firefox Nightly, Chromium (latest for Pop!OS), it redirected to HTTPS automatically.

[2018-12-07 19:59] andrei-cacio commented on #349
With the risk of affecting the general theme, I think that all `<code>` blocks should be moved to the new theme. This way the accessibility support will be improved on the whole website.

An example of plain text with and without the theme:
![image](https://user-images.githubusercontent.com/5195546/49669680-c72ea380-fa6a-11e8-87b4-0912b43e6ecb.png)

[2018-12-07 20:08] espnicholas opened #602 "Website Fonts - TTF (404)"
# Technical Bug Report
## Your Environment
| Software         | Version(s) |
| ---------------- | ---------- |
| Form Factor      | All |
| Browser Type     | Chrome |
| Browser Version  | v71 |

## Is this an issue with Rust, CSS, or HTML (or a combination)?
HTML & Fonts - Specifically the /templates/layout.hbs file

## Expected Behavior
Trying to load .TTF fonts while I believe from another curr

[2018-12-07 20:31] andrei-cacio opened #604 "The Getting started Items of the WASM Page are misaligned"
# Content Bug Report

## Page(s) Affected
The [wasm](https://www.rust-lang.org/what/wasm) page

## What needs to be fixed?
There seems to be a miss alignment of the getting started row
![image](https://user-images.githubusercontent.com/5195546/49671164-a61c8180-fa6f-11e8-8978-cf627c59b183.png)

## Suggested Improvement
Fixing the alignment

[2018-12-07 20:37] mitsuhiko opened #605 "2018 Announcement Location"
# Design Feature Request
## Summary

Someone probably already mentioned it but as a EU citizen I'm already so used to stupid cookie banners coming up that I looked multiple times to dismiss the 2018 announcement on the top of the website. It looks too much like a thing I want to dismiss after having it seen once.

I understand why it's there, that it plays a role and nobody will make a dismiss but

[2018-12-07 21:37] Aloso commented on #586
@ashleygwilliams Thanks for the response. I [created a PR](https://github.com/rust-lang/www.rust-lang.org/pull/607).

[2018-12-07 22:20] Soria0906 commented on #604
All

[2018-12-07 22:42] ashleygwilliams commented on #604
i would welcome a PR to fix this! thanks for filing!

[2018-12-07 22:44] ashleygwilliams commented on #605
thanks for filing @mitsuhiko ! i think this looks better as well! currently this flash message is part of the layout template, but i think we could move it to just the index page- partially because i do believe if we put it on every page, the pages that start with a red panel may look a bit odd- if you are interested in making a PR i would happily accept it!

[2018-12-07 22:44] ashleygwilliams commented on #600
great catch! thanks so much for filing! i would happily welcome a PR for this!

[2018-12-07 22:50] mitsuhiko commented on #605
Added a PR

[2018-12-07 22:54] #605 closed

[2018-12-07 22:57] ashleygwilliams commented on #372
great! we can close now :)

[2018-12-07 22:57] #372 closed

[2018-12-07 22:57] ashleygwilliams commented on #602
closed by #603

[2018-12-07 22:57] #602 closed

[2018-12-07 23:09] Coder206 commented on #604
@ashleygwilliams I noticed this as well, y investigation concluded that this is due to differences in the sizes of the images, I think flexbox could help with the alignment. Do you have a preference in the method used to solve this?

[2018-12-07 23:14] Coder206 commented on #568
@ashleygwilliams This issue seems to be resolved by #583

[2018-12-07 23:20] Aloso commented on #593
I guess, the most important redirects are

- https://www.rust-lang.org/en-US/
- https://www.rust-lang.org/en-US/documentation.html
- https://www.rust-lang.org/en-US/install.html
- https://prev.rust-lang.org/en-US/community.html

Because these links often appear in search results.

[2018-12-07 23:22] chriskrycho commented on #600
Resolved by #609.

[2018-12-07 23:22] #600 closed

[2018-12-07 23:35] chriskrycho commented on #604
@Coder206 using flex box (with the Tachyons classes to that end) is exactly the desired approach here! A PR to that effect would be great.

[2018-12-07 23:37] ashleygwilliams commented on #568
thanks @coder206!

[2018-12-07 23:37] #568 closed

[2018-12-07 23:38] Aloso opened #610 "Change :hover behaviour of yellow links in footer"
The yellow links in the footer turn blue when hovered. This looks ugly in my opinion. Also, it is inherited from `skeleton.css`, so it's probably not intended or desired.

Instead, I suggest to make the links yellow all the time; also, I suggest to remove the **link underlines** and show them only when a link is hovered.

I'd also suggest to remove the circle bullets (only in the footer).

### Adv

[2018-12-07 23:40] Coder206 commented on #604
I am not familiar with Tachyons, are you referring to http://tachyons.io/?

[2018-12-07 23:41] chriskrycho commented on #604
Yep! If you look at the page as implemented currently, you'll see a heavy use of Tachyons, which you can take as an example of how we're currently working.

[2018-12-07 23:43] PTrottier commented on #604
I can take a look at this within the next two weeks

[2018-12-07 23:44] Coder206 commented on #604
I am happy to tackle this, I expect to start working on it within the next two weeks.

[2018-12-08 06:16] Ristarg opened #612 "Explain what Rust actually is on the landing page"
# Content Feature Request
## Summary
Explain what Rust is on the landing page -- a programming language.

## Motivation
On the landing page, a lot of time is spent praising Rust, yet at no point (if you don't count Chucklefish testimony) is it explained what Rust actually *is*. Without clearly communicating what Rust is, it's confusing and not useful to a person who might be first visiting the web

[2018-12-08 11:43] andreilorin opened #613 "cli "Get started!" code snippet variable mismatch and "?" operator invalid usage"
# Content Bug Report

## Page(s) Affected
https://www.rust-lang.org/what/cli

## What needs to be fixed?
The Cli struct is defined with a "num" field, but in "main", the "take" function is having a "count" parameter passed to which does not exist.

The "?" operator can only be applied to values that implement "std::ops::Try", in the snippet it is applied to Cli  eg. "let args = Cli::from_args()?;"

[2018-12-08 13:32] danilaml opened #615 "blog.rust-lang.org is broken"
# Design Feature Request
## Summary
blog.rust-lang.org is negatively impacted by the "new" design". Lot's of missing features, broken images and etc.

## Motivation
New design is a significant downgrade. It looks worse, the font is hard to read, the colors are bad, and it also broke all the images in the old articles.

Here is the example of what I'm talking about:

![image](https://user-images.gi

[2018-12-08 15:48] ashleygwilliams commented on #615
hi: a couple of things:

1. this issue is unecessarily harsh and cruel. as a result i am going to close it.
2. it contains multiple duplicate of previous filed and then solved issues.
3. it is filed on the wrong repo (this is the website, not the blog repo).

i am closing this due to the first point but the others are also true. i do think there are pieces of good information in this issue. i woul

[2018-12-08 15:48] #615 closed

[2018-12-08 15:50] ashleygwilliams opened #616 "fix travis' installation of rust fmt"

[2018-12-08 16:01] ashleygwilliams commented on #396
Hi. This is not currently being considered at this time. I am now locking this issue as I've asked folks to cease commenting.

[2018-12-08 16:12] Aloso opened #617 "The link to the homepage is too wide"
![homepage link](https://user-images.githubusercontent.com/15658558/49688012-1c6ec180-fb0c-11e8-89c1-64af750daf82.png)

When you click on a white area on a website (e.g. to focus the window), you don't expect to open a link.

Suggestion: Wrap the link to the homepage into a `<span>` or `<div>` and make the link only as wide as its text.

This also affects blog.rust-lang.org. Should I file an issue

[2018-12-08 16:41] danilaml commented on #615
@ashleygwilliams no problem. My frustration just seeped in into my report making it less useful. The insanity of the last few years made pointless redesigns that destroy the software/product I use, a significant pain point of mine.
The only information I've found at first cam from https://blog.rust-lang.org/2018/11/29/a-new-look-for-rust-lang-org.html article and I assumed that this redesign is sh

[2018-12-08 17:12] ashleygwilliams commented on #617
good catch! i would happily accept a PR for this! thanks so much for filing!

[2018-12-08 17:13] ashleygwilliams commented on #617
re the blog- once u solve it here i think u can reference this issue and just send a PR to the blog :)

[2018-12-08 17:45] tshepang commented on #612
Is it a likely thing to end up on the page without knowing in advance you are visiting a site of a programming language?

[2018-12-08 18:04] eddyp commented on #612
I don't think is relevant if it's likely or not. You should know this is a programming language, not some framework or some other thing.

[2018-12-08 19:06] Aloso commented on #617
The continuous-integration check failed, and I don't know why. Did I do something wrong?

[2018-12-08 20:06] Aloso commented on #349
Here's another idea: Give `<code>` and `<pre>` a black, transparent background:

![syntax highlighting](https://user-images.githubusercontent.com/15658558/49690037-9ca41f80-fb2a-11e8-8cff-f5d58df57433.png)

This works very well with the design of the website. However, a dark theme might not look as good in the **white sections**. I have a few ideas for this:

- Use a different, light theme for whi

[2018-12-08 20:36] eddyp commented on #351
Is there any progress on this? After I delivered an "elevator pitch" about Rust to a couple of my work colleagues just one day before the switch to the new site, I am unsure how *they* would know about the nice technical overview about 0 cost abstractions and memory safety which caught *my* eyes and raised my interest when *I* landed on the old page for the first time.

[2018-12-08 20:49] eddyp commented on #412
@chriskrycho I think I know *why* on my screen on Windows there so little content compared to yours. The problem is that Windows 10 has been a pain to configure to make true type fonts look comparable to what Windows 7 was doing properly and the only solution to not make my eyes hurt is to increase the font size to 125% on all monitors. This is not just one case, all of my work colleagues found th

[2018-12-08 20:58] eddyp commented on #556
There is just one AVR port which, as far as I know is a little outdated relative to current releases, but the 2018 edition could provide the rallying point for new contributions: https://github.com/avr-rust/rust

[2018-12-08 22:32] andreilorin opened #619 "CI failure - "rocket_codegen" could not compile"
# Content Bug Report
CI failed for the last 3 PR while compiling the same dependency "rocket_codegen".
The rocket framework was recently updated to v0.4 and there are some changes regarding "rocket_codegen" that could have broken the pipeline.

## Page(s) Affected
CI affected.

![ci_failure](https://user-images.githubusercontent.com/6654933/49691390-adf42880-fb38-11e8-9ac5-93a43ff3a685.PNG)

## Wh

[2018-12-09 16:55] Maxgy commented on #612
Well, the title of the page is "Rust programming language" and the website url has "rust-lang" in it.

[2018-12-09 19:47] drahnr opened #621 "Colourscheme adjustment, footer"
# Design Feature Request
## Summary
Change the footer text colour to something different from light on black background.

## Motivation
Why are we doing this? What use cases does it support? What is the expected
outcome?

From my perception, the contrast is too high - combined with the small text this leads to hardly readable lines

## Drawbacks
It adds effort to find a different set of colour sha

[2018-12-09 22:44] kornelski opened #622 "Any plans to change contributing guidelines to allow design feedback?"
Currently contributing guidelines state:

(and this is very strictly enforced 😢)

I'm guessing that you don't want to have a design-by-committee, and don't have time to deal with design bikeshedding — especially when you've had Edition 2018 deadline.

But now that the deadline has passed, maybe you would have time to change the way the design is evolved from now on?

Rust-the-language managed to c

[2018-12-10 11:21] eddyp commented on #412
On an identical laptop in the same setup, but without the true type font workaround the current page is a little bit more decent, thanks @chriskrycho for the hint.

![image](https://user-images.githubusercontent.com/123772/49729455-3203f880-fc7e-11e8-8a23-263c07a00995.png)

Still, I'd consider decreasing the gaps/fonts so the "Why Rust?" part doesn't get cut off.

[2018-12-10 11:40] heftig opened #624 "White-dark-white section sandwich is easily overlooked"
# Design Bug Report

## Page(s) Affected
- Install
- Community

## What needs to be fixed?
The way the rather short and dark initial section ("rustup" on Install and "TWIR" on Community) is sandwiched between the white header and the next (also white) content section makes my eyes skip right over it to read the black-on-white content, perhaps because it looks like a banner and not like content. Th

[2018-12-10 11:50] Dmitry-Borodin opened #625 "install page shows 404"
https://www.rust-lang.org/install.html
This link provided from [The book](https://doc.rust-lang.org/book/ch01-01-installation.html) and google -  leads to 404 error, instead of showing the link to download and install the package.

[2018-12-10 16:37] dmm commented on #625
The install url changed and a redirect wasn't added to the old url. A google search for "install rust" also returns a 404 page: https://www.rust-lang.org/en-US/install.html.

A fix would be to add 301 redirects from all of the old urls to the new ones.

[2018-12-10 17:01] ashleygwilliams commented on #622
i believe that this will eventually happen, likely as a new team for the website spins up in the upcoming year.

[2018-12-10 17:01] #622 closed

[2018-12-10 17:15] kornelski commented on #622
Thanks

[2018-12-10 18:14] mbrubeck commented on #625
Duplicate of #593. This will be fixed by #597.

[2018-12-10 18:32] eddyp opened #627 "Platform support is not clear on the new site / Where is https://forge.rust-lang.org/platform-support.html ?"
# Technical Feature Request
## Summary
It is important when choosing a language to check if your targetted platfrom is supported or not.
On the old site, from https://prev.rust-lang.org/en-US/documentation.html, in the **References** section there was a link to https://forge.rust-lang.org/platform-support.html which provided info about platfrom targets, but now this info is not longer visible, at

[2018-12-10 19:50] dmm commented on #593
FAQ links are also broken, for example:

https://www.rust-lang.org/en-US/faq.html
https://www.rust-lang.org/en-US/faq.html#why-do-rust-programs-use-more-memory-than-c

I can't even find a faq on the new site.

[2018-12-10 20:34] nrc commented on #616
cc https://github.com/rust-lang/rustup.rs/issues/1567

[2018-12-10 22:20] brunoczim opened #629 "Does the New Site Supports Multiple Languages? Looking for Translators?"
# Question

## Question
Does the New Site Supports Multiple Languages? Looking for Translators?

## Context
There is a telegram group I administrate and we use Rust's CoC, but the group is brazilian. Although it sounds weird for programmers, not everybody speaks english well. It would be nice to link a translated CoC. We currently link the old site's CoC, but this is the problem: it is "old". I am

[2018-12-11 00:02] #613 closed

[2018-12-11 01:09] nrc commented on #629
The site does not currently, but I think we intend to in the future. I don't think we are looking for people to translate yet. Thank you for the offer though! Please see https://github.com/rust-lang/www.rust-lang.org/issues/96 for the first step in the process (and probably a good issue to track to find out what is happening here). In the interests of keeping the issue tracker manageable, I'll clo

[2018-12-11 01:09] #629 closed

[2018-12-11 01:13] nrc commented on #627
This should probably be included in Rust's documentation, rather than on the website. I.e., so that after clicking the 'documentation' link at the bottom of the site there is a link from there to the information. If that information exists in the docs (where it can more easily be kept up to date), then we can consider adding a link to it form the 'getting started' section or elsewhere.

If that so

[2018-12-11 01:13] #627 closed

[2018-12-11 01:13] nrc commented on #625
Closing as dup of #593

[2018-12-11 01:13] #625 closed

[2018-12-11 02:16] #617 closed

[2018-12-11 02:47] Aloso commented on #587
I don't believe this is an accident. Right now, the "Get started" buttons has the same height and is on the same level as the "Rust" logotype.

[2018-12-11 13:14] SimonSapin commented on #423
We should do thing regardless of detection improvements. One could be using a web browser on a given machine while working on a different (possibly remote) machine that could be on a different platform. (The case that happened to me was adding Windows servers for Servo CI, from my Linux laptop.)

[2018-12-11 17:19] eddyp commented on #591
Just to close things up, things worked after following @steveklabnik 's instructions.
@ashleygwilliams sorry for the noise.

[2018-12-11 17:22] ashleygwilliams commented on #624
@heftig thank you for filing! using the colors that currently exist- do you think you could make a suggestion/PR to improve? i'd be happy to look at a PR and/or screencaps to work with you to remedy this!

[2018-12-11 17:30] #575 closed

[2018-12-11 17:37] Aloso commented on #346
@ashleygwilliams  I, too, think, that this code might confuse people who want to learn rust. Usually programmers don't like it, when they are told to execute a piece of code that they do not understand.

The code sample would be ok, if it was explained.

[2018-12-11 18:36] heftig commented on #624
Sorry, I'm not a designer.

[2018-12-11 20:39] nrc commented on #557
IMO, the fewer manual steps for a release the better, and we should avoid doing this if the only way involves a manual step.

[2018-12-11 20:41] nrc commented on #543
Please do!

[2018-12-11 20:44] nrc commented on #562
It does seem difficult to make these links more prominent without making the design worse. One possible thing we could do is make the top bar (Rust logo and links) sticky so you don't need to scroll back up to the top to find them. I think that is fairly low priority though.

[2018-12-12 01:19] nrc commented on #523
The crates we'd need are 'ferris-says' (for getting started), 'reqwest' and 'rocket' (for networking), 'quicli' and 'structopt' (for CLI)

They are the ones which are dependencies of the code snippets used on the website.

I guess the website team? Perhaps the individual working groups for the WG snippets

[2018-12-12 02:33] nrc commented on #216
@aidanhs is there any more to do here or can this be closed now?

[2018-12-12 03:37] #488 closed

[2018-12-12 03:58] #610 closed

[2018-12-12 04:43] nrc commented on #183
Things we are using Skeleton for:

- [ ] - container and columns layout
- [ ] - some styles on `body`
- [ ] - some header styles
- [ ] - `code` styles
- [ ] - spacing
- [ ] - `hr`

[2018-12-12 04:53] nrc commented on #183
Seeing as we're already using flexbox in some places, IMO we should flexbox for all of our layout, rather than replacing the Skeleton grid with the Tachyons one.

I think everything else is a matter of seeing what the Tachyons defaults look like and tweak anything we're unhappy with.

[2018-12-12 07:36] skade opened #638 "Policy page: "no approval" section documents things that require approval"
# Content Bug Report

## Page(s) Affected
https://www.rust-lang.org/policies/media-guide

## What needs to be fixed?

Under the heading "Uses that do not require explicit approval", there's a section:

(emphasis mine)

This documents things that require explicit approval.

## Suggested Improvement

We could move down the relevant sentences in the section of disallowed things and optionally add a l

[2018-12-12 11:30] renyuneyun commented on #589
Just to dump a bit thoughts: (as the OP of #96 )

It's previously planned to use [fluent](https://projectfluent.org/) to do the i18n (at least before I was focusing on something else). From what I understand, all (except for the last one which I'm not familiar with) can be accomplished with fluent (and also the support of JS (?)).

The misc thing is that fluent-rs (the rust port of fluent) is not

[2018-12-12 11:41] bakirov opened #640 "Old rust install link should redirect to the new one"
# Content Feature Request
## Summary
Old rust install link (https://www.rust-lang.org/install.html) should redirect to the new install link (https://www.rust-lang.org/tools/install)

## Motivation
Many news, blog posts refer to the old install link and they are now all broken: all requests will fail with 404 error, and that's not a user-friendly as a new site aims to be.

[2018-12-12 13:58] sondr3 commented on #349
As someone who is red-green color blind the `a11y-syntax-highlighting` theme is really hard on my eyes when combined with the background in these examples, the difference to @Aloso's version is night and day.

[2018-12-12 15:00] pietroalbini opened #641 "Font size on the website is too big"
# Design Bug Report

## Page(s) Affected

All the pages on the website.

## What needs to be fixed?

In the current website, the `font-size` is set to `1.5em` in all the website, basically making all the text on the page 50% larger than on every other website.

This is what I see on my 1366x768 laptop at fullscreen:

<table>
<tr>
<td>
<img src="https://user-images.githubusercontent.com/2299951/498

[2018-12-12 19:50] joshtriplett commented on #640
Likewise for pages like https://www.rust-lang.org/en-US/team.html

[2018-12-12 20:21] bjadamson commented on #612
Yes. Think about non-power users landing here, because they are doing research for teammates.

A contrived example, think about the 12yr old kid who plays the Rust game, but accidentally lands on the rust programming language page. Maybe they would develop an interest in Rust, and thus programming,  because their favorite game has the same name.

[2018-12-12 20:56] mattgathu opened #642 "Make documentation more accessible"
# Content Feature Request
## Summary
Have a direct link to the documentation on the landing page.

## Motivation
I would imagine most users sometimes refer to the website to a quick reference to the documentation.
It is not currently easy to go to [https://doc.rust-lang.org](https://doc.rust-lang.org) from the current landing page.

## Drawbacks
None

## Rationale and alternatives
- Why is this de

[2018-12-12 20:58] mattgathu commented on #642
Just to shed more light, I'm attaching this collage to show comparison:
![pjimage](https://user-images.githubusercontent.com/1155192/49898305-fd986400-fe58-11e8-8757-dd03fc2df18f.jpg)

[2018-12-13 06:34] skade commented on #640
Both of these are fixed by https://github.com/rust-lang/www.rust-lang.org/pull/597, but not deployed yet.

[2018-12-13 13:50] aidanhs commented on #612
Putting myself in the shoes of a non-technical person (often decisionmakers for using Rust) who may have heard about Rust from their team, I could see it taking little while for it to sink in that it's a programming language. I can sympathise with this suggestion.

[2018-12-13 14:23] chriskrycho commented on #641
Note that we actually intentionally *increased* the text size throughout because of some of the issues raised in #412 and #525. The goal is to have reasonably good readability as a baseline while allowing users to control their experience of it with zoom as normal. Especially on blocks of text, the lower font size was a serious problem for readability for anyone who didn't have *great* vision.

Al

[2018-12-13 16:16] pietroalbini commented on #641
Well, 1rem font size is the standard everywhere for text though, even here on GitHub. With 1.5rem font size though the amount of content you see on the page is really low, mostly because everything is huge.

[2018-12-13 17:41] #546 closed

[2018-12-13 17:41] #619 closed

[2018-12-13 17:42] #370 closed

[2018-12-13 17:43] #500 closed

[2018-12-13 17:45] #520 closed

[2018-12-13 17:46] ashleygwilliams commented on #640
closing as this is deploying currently

[2018-12-13 17:46] #640 closed

[2018-12-13 17:48] ashleygwilliams commented on #642
the learn page has the documentation on it- we believe it's useful to have some scaffolding to help explain the extent of our documentation and their audiences. there *is* a link to documentation in the footer. just so i understand- is this asking to rename "Learn" to "Documentation"?

[2018-12-13 17:49] ashleygwilliams commented on #638
re: the Policy question- i'm not entirely sure. cc @rust-lang/core

[2018-12-13 17:50] Mark-Simulacrum commented on #642
We do link to what is essentially a version of the bookshelf directly from the front page through "Learn" on the top bar; as far as I can tell the content there is essentially equivalent to https://doc.rust-lang.org/. Do you think perhaps that link is sufficient? To me "documentation" / "reference" and "learn" are quite similar, though I can see how it doesn't jump out as much. I think it's possib

[2018-12-13 17:51] ashleygwilliams commented on #641
so this is a complicated issue. on one hand- we have received feedback that the density of the site is too low, others have asked for the font size to be alternately larger and smaller. we'll need to reconcile this feedback but at the moment i'm not sure we have the capacity for a larger overhaul.

because bumping the text size improved accessibility/legibility- i am inclined to keep that, as that

[2018-12-13 17:51] #641 closed

[2018-12-13 17:52] Mark-Simulacrum opened #643 "ping.rust-lang.org still lists website as "beta""
http://ping.rust-lang.org/

We might also want to capitalize the title, i.e., "Rust Website Status", but I don't feel strongly about that at all?

<img width="753" alt="image" src="https://user-images.githubusercontent.com/5047365/49957470-1f2f3500-fec5-11e8-9adf-3dd80e9daf35.png">

[2018-12-13 17:52] ashleygwilliams commented on #612
i also agree and advocated for maintaining the words "programming language". this is fundamentally something that @aturon has taken lead on so we should wait for his comment on how to proceed.

[2018-12-13 17:53] ashleygwilliams commented on #643
ack- good call! will fix. thanks!

[2018-12-13 17:54] ashleygwilliams commented on #643
fixed! thanks again for catching that @Mark-Simulacrum
<img width="564" alt="screen shot 2018-12-13 at 12 53 41 pm" src="https://user-images.githubusercontent.com/1163554/49957537-27dc3700-fed6-11e8-8547-447c6878b67d.png">

[2018-12-13 17:54] #643 closed

[2018-12-13 17:55] ashleygwilliams commented on #523
agree with everything @nrc has said. and i agree with the vouching strategy- the `ferris-says` crate will be vouched for by the "website team" (not yet formed, but i will take point on that) and the crates for the individual working groups pages are vouched for by them.

[2018-12-13 18:18] aturon commented on #482
@jonas-schievink That looks awesome! Want to make a PR?

[2018-12-13 20:02] #483 closed

[2018-12-13 20:49] steveklabnik opened #645 "Some redirects are still missing"
The old site supported URLS like this:

    https://www.rust-lang.org/install.html

This would redirect to

    https://www.rust-lang.org/en-US/install.html

or whatever it would detect your language was.

See here: https://github.com/rust-lang/prev.rust-lang.org/blob/master/_layouts/redirect.html#L6-L46

The current site does not support these.

[2018-12-13 22:47] spacekookie opened #646 "Buttons on the community page are broken"
# Design Bug Report

The buttons in the top section of the community page are misaligned and don't look the way they should.

## Page(s) Affected

- http://rust-lang.org/community

## What needs to be fixed?

Not sure how this should look but I would maybe suggest splitting it out into two columns with the two buttons being side-by-side.

Attaching a screenshot for clarity below

![screenshot from

[2018-12-14 07:54] sh4338 opened #650 "Learn page scrolls horizontally on small screen"
# Design Bug Report

## Page(s) Affected

* https://www.rust-lang.org/learn

## What needs to be fixed?

On small devices (iPhone SE), the `read the unstable book` button in the `Master Rust` section of the page extends out to the right of the page, causing the page to scroll horizontally.  This button is a link with class `button` applied from skeleton.

## Suggested Improvement

I see two ways o

[2018-12-14 17:25] joboscribe opened #651 "Example code does not compile."
# Technical Bug Report
## Your Environment
| Software         | Version(s) |
| Rust | 1.30.1 |
| Form Factor      | Desktop |
| Browser Type     | Chrome |
| Browser Version  | 70.0.3538.110 |

## Is this an issue with Rust, CSS, or HTML (or a combination)?
I'm going to say HTML.

## Expected Behavior
If i correctly followed (or copy/pasted) the code example under the heading "A Small Rust Applica

[2018-12-14 18:05] steveklabnik commented on #645
My understanding was that that was deployed.

[2018-12-14 18:16] mbrubeck commented on #645
It doesn't appear to be deployed.  None of the redirects it added are working in production.

[2018-12-14 20:58] rugk opened #653 ""Get involved" boxes should align buttons at 1024px width"
# Design Bug Report

## Page(s) Affected
https://www.rust-lang.org/#read-rust

## What needs to be fixed?
Responsive design

That these buttons (who are black and thus totally highlighted) are not aligned makes it look as if the right block would be "too high", i.e. to much at the top. I get the headlines are aligned, but it still looks like that (on the first look):

![image](https://user-images.

[2018-12-15 05:31] joboscribe commented on #651
My point was that a new user, following the instructions on the page, will be left with code that does not compile. That seems like a poor initial experience for potential rustaceans.

[2018-12-15 05:42] sh4338 commented on #651
That makes more sense.  Sorry.  And I completely agree.

[2018-12-15 19:29] Maxgy opened #655 "Chucklefish logo too large"
The Chucklefish logo on the main page seems to be just a little too large:

![image](https://user-images.githubusercontent.com/19353212/50046713-fc3b8700-0064-11e9-90dc-4ab66977f6b5.png)

[2018-12-16 19:36] andrei-cacio opened #656 "Compilation of project fails on MacOS Mojave using rustc nightly 1.33.0"
# Question
Has anyone stumbled upon this issue while compiling the repo?
![image](https://user-images.githubusercontent.com/5195546/50057960-7b6eaf00-017a-11e9-9514-a9eebfc031eb.png)

## Question
I tried searching about this error but I couldn't find any useful information.

## Context
I simply ran `cargo watch -x run`

[2018-12-16 19:41] Mark-Simulacrum commented on #656
It looks like you might be using an old(er) version of this repository -- that compilation error comes from `rocket_codegen` 0.3.17, and we're now using 0.4.0 -- could you try pulling down a new version and checking if this continues to reproduce?

[2018-12-16 20:42] andrei-cacio opened #657 "Missing fonts"
# Technical Bug Report
In production there are some missing fonts. It can also be reproduced on local as well.
## Your Environment
| Software         | Version(s) |
| ---------------- | ---------- |
| Form Factor      | Desktop |
| Browser Type     |Chrome |
| Browser Version  | 70 |

## Is this an issue with Rust, CSS, or HTML (or a combination)?
HTML
## Expected Behavior
There should be no error

[2018-12-16 20:52] andrei-cacio commented on #349
@Aloso @sondr3 some great feedback ! Thank you !

[2018-12-16 21:50] naltun opened #659 "Documentation -> Reference Team page: Havvy (Lead) is mentioned twice"
# Content Bug Report

## Page(s) Affected
https://www.rust-lang.org/governance/teams/documentation

## What needs to be fixed?
`Havvy' should be removed in the second mention (non-Lead entry). Consider the screenshot below:

![image](https://user-images.githubusercontent.com/7507990/50059233-1c953f80-0152-11e9-836d-c3e1fd314be1.png)

[2018-12-17 03:31] Nbsaw commented on #346
Same issues for me ,  then i had to add `extern crate ferris_says;` had to add this line .

[2018-12-17 18:47] andrei-cacio commented on #349
@Aloso

Right now only the `a11y` themes seem to be passing the accesibility audit. I couldn't find other themes which performed the same.

[2018-12-17 18:55] andrei-cacio commented on #349
@sondr3 would the dark theme be more suitable?

![image](https://user-images.githubusercontent.com/5195546/50108472-fe0c7280-023d-11e9-8010-baccc8322e60.png)

[2018-12-17 20:18] sondr3 commented on #349
I like the dark one better but am normally a bigger fan of light background. It looks fine in the README, I think you should just be careful not to combine the light theme with a red background.

[2018-12-18 18:30] mbrubeck commented on #651
It wlll work if they are using the current stable version of Rust.

[2018-12-18 18:37] mbrubeck commented on #657
Fixed by #626 but not yet deployed.

[2018-12-18 19:42] joboscribe commented on #651
I went through the example again and it does indeed now compile and run just fine. Thanks.

[2018-12-18 19:42] #651 closed

[2018-12-19 15:05] RalfJung commented on #593
Can we get this reopened?  All the URLs mentioned here still yield 404.

Another one that went MIA is <https://www.rust-lang.org/security.html>.

[2018-12-19 20:14] mbrubeck commented on #593
This is fixed by #597 along with all the others (except "faq.html" which has no equivalent in the new site).  The fix is merged but not yet deployed.

[2018-12-20 19:51] SimonSapin commented on #593
https://github.com/rust-lang/www.rust-lang.org/pull/597 is merged. Maybe it’s not deployed to production yet? How is deployment managed?

[2018-12-21 05:20] jacobpledger commented on #621
I think font size might help a bit. Larger characters at normal weights, or maybe even light. My first reaction is to suggest that you steer clear of heavy font-weights, because I think the "Get Help", "Terms and Policies" and "Social" headers might already be a bit thick, causing the characters to bleed together a little. After some thought though, I think you might be able to combat this with ad

[2018-12-21 05:30] jacobpledger commented on #624
I had a similar reaction, but as you scroll down the page you realize your mistake and may go back. Therefore I think it's only really an issue at the top of the page, where you're expecting a banner. I think the community page might be more affected by the coloured section not having a header.
Perhaps keep the coloured sections lower on the page?

[2018-12-21 05:43] jacobpledger commented on #642
"Learn" and "Documentation"/"Reference" are very distinct in my mind. Learn is where I would look for a Getting Started tutorial - how to write hello world, etc. (That said, I like the current page). Once I had any level of experience with the language I would never click on "Learn" again, or at least that's not the heading I would be seeking.
To hijack and answer Ashley's question, I personally l

[2018-12-21 11:06] drahnr commented on #621
It seems my previous response got lost.

@jacobpledger the colour change would be my prefered option.

@ashleygwilliams if that is not desired then:

maybe adding a lighter shading around the text, either a slightly lighter black, or slightly darker yellow tone might help. A slight increase in font weight would also improve readability.

[2018-12-21 11:14] drahnr opened #661 "Too many colours on initial screen"
# Design Bug Report

## Page(s) Affected
Landing page.

## What needs to be fixed?
Overflow of colours, a feel of unorderedness by the use of too many colours on one page without a clear content relation.

## Suggested Improvement
Make sure at max 3 dominant colours are visibly on a page, unless there is a clear colour to content association.

![toomanycolours](https://user-images.githubuserconten

[2018-12-21 18:37] markelog opened #662 "Broken link on https://forge.rust-lang.org/other-installation-methods.html#source"
# Content Bug Report
On the https://forge.rust-lang.org/other-installation-methods.html#source page there is phrase "Past releases can be found in the archives." "the archives" part is the link which leads to nowhere.

Also, before, you could have gotten list of all possible rust installations through the https://static.rust-lang.org/dist/index.txt resource, but now it's no longer available :/. Is

[2018-12-22 05:32] Aloso commented on #593
It works now.

[2018-12-22 21:31] mglax opened #664 "Titles don't look write on Safari (IOS)"
# Design Bug Report

## Page(s) Affected
Index page at https://www.rust-lang.org/

## What needs to be fixed?
The font featured in the titles looks different on Safari (iOS) than it does on the Desktop version or on Chrome (iOS). The font looks thiner. I did not try to browse the website with Mac Os X's Safari, though I can do it if needed.

![7e0a359e-47a5-4aae-98c4-6b05400e26c8](https://user-ima

[2018-12-22 21:45] mglax commented on #655
Would be cool to make the image responsive too. Here is how it renders on an iPhone 6
![3af29740-c8e0-43f0-9fa7-957141758fb7](https://user-images.githubusercontent.com/44877814/50378812-30054680-063b-11e9-876c-74b1b6f59eac.jpeg)

I think it's a bit too large.

[2018-12-23 08:11] ericfindlay opened #665 "Lets change the subtitle."
Subtitles are hard to get right. Currently the subtitle is "Empowering everyone
to build reliable and efficient software." I think the reasoning behind this subtitle is to communicate both that

1. Rust is a powerful programming language.
2. The Rust community is very friendly.

I agree that these are the two most important messages, so I agree with
the underlying motivation, but I don't think the

[2018-12-24 10:01] yoshuawuyts commented on #665
@ericfindlay thanks for opening up this issue. This has been discussed several times already, and it's been decided that the subtitle is staying the way it is for now. The team currently doesn't have the bandwidth to reopen the discussion, so we'll be closing this issue for now.

Thanks for your contributions & happy holidays! :sparkles:

[2018-12-24 10:01] #665 closed

[2018-12-24 10:06] yoshuawuyts commented on #664
@mglax could you perhaps include a screenshot from the network tab? I'm curious if the fonts are loading.

Perhaps a fix we could do in the meantime is to ensure all fonts are "sans-serif" as a fallback so at least the non-webfont version looks consistent.

[2018-12-24 10:50] yoshuawuyts commented on #664
Did some more research, and it seems this might be fixed by https://github.com/rust-lang/www.rust-lang.org/pull/626 which is not yet deployed.

[2018-12-24 11:45] mglax commented on #664
I was wondering if #626 would fix it, I created the issue anyway since I wasn't 100% sure.

If the deployment of the fix of #626 doesn't solve the issue, I'll try to debug it with the developer mode

[2018-12-24 11:46] mglax commented on #664
Update : same behavior on Firefox Focus (iOS), so it seems to only work properly on Chrome on iOS

[2018-12-24 12:48] ericfindlay commented on #665
I found some discussion about this on Discord [here](https://discordapp.com/channels/442252698964721669/448237931136679936/518498086549585920). This matter is important and certainly not bikeshedding and needs to be addressed again in the New Year.

[2018-12-24 14:31] ericfindlay commented on #665
"This has been discussed several times already." After searching through Discord there is no evidence for this. I can't find any evidence that there was a discussion at the time the subtitle was added. I am getting a very uneasy feeling about the whole process. If the teach currently doesn't have the bandwidth then why is the website prematurely up?

[2018-12-24 14:45] ashleygwilliams commented on #665
https://github.com/rust-lang/www.rust-lang.org/issues/419

[2018-12-24 15:08] yoshuawuyts commented on #664
Much appreciated!

[2018-12-24 15:12] yoshuawuyts commented on #650
Confirmed this is indeed the case. Suggested fix is to mimic the reflow behavior of the landing page. Diff:
[code]
I'm currently blocked on testing this out locally due to https://github.com/SergioBenitez/Rocket/issues/870, but I'd encourage anyone to try out these changes and make a PR if they work out well!

[2018-12-24 15:38] pietroalbini commented on #662
The list has been removed a few months ago because it was taking like half an hour to generate every time we pushed artifacts (on a nightly/beta/stable release). Bringing it back is going to have the same problems (aka being rate limited *a lot* by AWS to fetch all the files in that bucket).

cc @alexcrichton

[2018-12-24 18:07] anowlcalledjosh opened #666 "Inconsistency about whether punctuation is inside link"
# Content Bug Report

## Page(s) Affected

Footer

## What needs to be fixed?

One link contains the punctuation at the end of the sentence, the other link does not.

![image](https://user-images.githubusercontent.com/9433472/50405012-9180fe80-077c-11e9-9ff5-aa73065cfe65.png)

## Suggested Improvement

Pick one style and stick with it.

[2018-12-25 15:12] markelog commented on #662
According to my notes that happended 8 days ago, hm.

Do you think there would be any way to see history of previous version of the language?

For example in other languages -

1. elm - https://dl.bintray.com/elmlang/elm-platform
1. go - https://golang.org/dl/ "Archived versions"
1. nodejs - https://nodejs.org/dist/
1. python - https://hg.python.org/cpython/tags
1. ruby - https://cache.ruby-lang.o

[2018-12-26 01:35] mitsuhiko commented on #412
Not sure if this belongs into this issue but the current font size feels quite a bit too large.

[2018-12-26 18:07] chriskrycho commented on #412
@mitsuhiko I appreciate the feedback, but I'm afraid we're probably not going to tweak the overall font size again. We've landed on a midpoint for the font size which feels *too large* for some people and *barely big enough* for others, and is hitting our targets for legibility. We may make specific tweaks to specific points in the site, but not to the overall size.

[2018-12-26 18:34] mitsuhiko commented on #412
@chriskyrcho I honestly doubt that you found the sweet point. I’m sure if you were to run a survey on the font size the vast majority of respondents would reply with it being too large.

I can’t even find comments asking for larger fonts. The problem was that too much information was visible at once.

[2018-12-26 19:02] chriskrycho commented on #664
Another possible cause: are you running any kind of ad-blocker on iOS? A number of them block font loading by default.

[2018-12-26 20:04] chriskrycho commented on #664
Glad that was an easy fix!

[2018-12-27 22:31] nagisa commented on #590
The ligature may be (and definitely is, on Firefox) disabled by the `letter-spacing: -.1rem` rule.

[2018-12-27 22:58] nagisa opened #669 "Member list for reference team has duplicate members"
# Content Bug Report

## Page(s) Affected

* [Havvy is listed twice as a reference team member](https://www.rust-lang.org/governance/teams/documentation);

## What needs to be fixed?

N/A

## Suggested Improvement

N/A

[2018-12-27 22:58] nagisa opened #670 "Compiler&Language workgroups have missing members"
# Content Bug Report

## Page(s) Affected

* [Many members are not listed for workgroups on the language and compiler page](https://www.rust-lang.org/governance/teams/language-and-compiler) ­– I know for sure that at least codegen has more members than just @nox, and fairly sure same could be said for NLL/Traits/Compiler Performance.

## What needs to be fixed?

N/A

## Suggested Improvement

N/A

[2018-12-27 23:17] nagisa opened #671 "Avatars for governance members have style & positioning issues"
# Design Bug Report

## Page(s) Affected

Specific team pages such as

* https://www.rust-lang.org/governance/teams/dev-tools
* https://www.rust-lang.org/governance/teams/documentation
* https://www.rust-lang.org/governance/teams/library
* https://www.rust-lang.org/governance/teams/operations
* etc...

## What needs to be fixed?

First of all, if the title does not fit in a single line, that singl

[2018-12-28 00:21] jeekobu opened #672 "User links missing on team pages"
I use the previous team page as a starting point to navigate to the blogs of team members (which are often relevant to the development of the language):
https://prev.rust-lang.org/en-US/team.html

The new team pages have removed the links:
https://www.rust-lang.org/governance/teams/language-and-compiler
https://www.rust-lang.org/governance/teams/library
https://www.rust-lang.org/governance/teams/c

[2018-12-28 07:12] devonxman opened #673 "This is her husband"
She has been illegally using bugs and codes on my pc which has military information on it anyone who helped her is going down unless u fix what she did my email isdevonxman@outlook.com

[2018-12-28 11:39] andrei-cacio commented on #349
moving the discussion tot he PR

[2018-12-28 14:02] #673 closed

[2018-12-30 17:39] pietroalbini commented on #662
Those pages only include the proper releases, and that should be easy to generate from the git tags (https://github.com/rust-lang/rust/releases). https://static.rust-lang.org/dist/index.txt also contained all the previously released nightlies and betas.

[2018-12-31 03:45] yashaslokesh opened #675 "Getting Started page's instructions to generate new project are incorrect"
# Content Bug Report

## Page(s) Affected
Getting Started - Generating a new project

## What needs to be fixed?
The website tells readers to use the command 'cargo new hello-rust' to generate a new project, and then lists the files in the generated 'hello-rust' directory.
When I ran the command on my Mac, a library was created with src/lib.rs, instead of the expected src/main.rs. Subsequently, th

[2018-12-31 03:49] steveklabnik commented on #675
What version is your rustc and cargo?

[2018-12-31 04:09] yashaslokesh commented on #675
Cargo's version is 0.23.0
Rustc's version is 1.22.1

It seems I had already installed Rust, and the command on the getting started page didn't upgrade my cargo and rustc versions, so that's why I got these problems. Maybe a snippet on updating rustc and cargo should be provided for people who haven't used Rust in a while.

[2018-12-31 04:09] #675 closed

[2018-12-31 12:52] yoshuawuyts commented on #669
Thanks for reporting! -- duplicate of https://github.com/rust-lang/www.rust-lang.org/issues/659

[2018-12-31 12:52] #669 closed

[2018-12-31 13:03] #650 closed

[2018-12-31 13:36] yoshuawuyts commented on #671
I think we can probably keep using the existing approach to CSS, but we need to make sure the padding works correctly on new rows (and mobile).

[2019-01-02 16:12] #666 closed

[2019-01-02 16:12] #659 closed

[2019-01-06 17:06] geminigamers882 commented on #671
Hmmm

[2019-01-07 22:29] aug2uag opened #683 "Citizen Code of Conduct Page not loading"
# Technical Bug Report
## Your Environment
| Software         | OSX 10.14 |
| ---------------- | ---------- |
| Form Factor      | Laptop |
| Browser Type     | Firefox / Chrome / Safari |
| Browser Version  | 63.0 / 71.0 / 12.0.1 |

## Is this an issue with Rust, CSS, or HTML (or a combination)?
http://citizencodeofconduct.org/ server

## Expected Behavior
Page should load

## Current Behavior
Di

[2019-01-08 13:03] #543 closed

[2019-01-08 13:14] yoshuawuyts commented on #683
- [website cached in wayback machine](https://web.archive.org/web/20181116012721/http://citizencodeofconduct.org/)

I've informed the Stumptown Project that the website is down in https://github.com/stumpsyn/policies/issues/23. Fingers crossed it'll be resolved soon!

[2019-01-10 02:29] lilyball opened #684 "New site is missing pdfs"
# Content Bug Report

## Page(s) Affected
https://www.rust-lang.org/pdfs/Rust-Chucklefish-Whitepaper.pdf

## What needs to be fixed?
I don't know how many PDFs were hosted on the old site but there's at least one, https://prev.rust-lang.org/pdfs/Rust-Chucklefish-Whitepaper.pdf, which is a 404 on the new site. I'm also not sure if this was linked from anywhere on the old site (I found the link in a

[2019-01-10 14:39] yoshuawuyts commented on #684
@kballard Ah yes. Sorry about that! The page for PDFs has moved to [rust-lang.org/production](https://www.rust-lang.org/production). The Chucklefish PDF can now be found [here](https://www.rust-lang.org/production).

## How to Fix
We should probably redirect `/pdfs` to `/production` so links resolve correctly. And probably also link the old PDF locations to the new PDF locations.

[2019-01-13 22:50] khionu opened #685 "CoC Mod Team link relies on anchor from old site"
# Design Bug Report

## Page(s) Affected
https://www.rust-lang.org/policies/code-of-conduct#moderation

## What needs to be fixed?
The "Rust moderation team" link uses a link with a broken anchor

## Suggested Improvement
Link directly to the Moderation Team page

[2019-01-14 10:19] drumbsd commented on #346
Same issue on OpenBSD 6.4. Fixed adding `extern crate ferris_says;` to solve.

[2019-01-14 11:01] yoshuawuyts commented on #346
@drumbsd the example is for the latest stable version of Rust with the `edition = "2018"` entry in `Cargo.toml`. This will be generated for you when running `$ cargo init` with the latest version of Rust installed.

You can update your Rust versions on Mac & Linux using the `$ rustup update stable` command (I'm not sure about Windows). Hope this is helpful!

[2019-01-14 11:16] yoshuawuyts commented on #685
@khionu thanks for reporting! Looks like the teams pages are missing IDs for their entries which makes it impossible to jump to them.

[2019-01-14 18:54] #683 closed

[2019-01-15 10:00] khionu commented on #685
Since the Team Pages are separate from the list of Teams, I would suggest linking directly to the Mod Team Page. Jumping to a div that's a square in a row is less obvious than jumping to the dedicated page.

[2019-01-16 12:41] #482 closed

[2019-01-16 12:42] yoshuawuyts commented on #685
@khionu ah yes, that makes a lot of sense! Would you like to make a PR for this?

[2019-01-16 12:42] khionu commented on #685
Umm, sure. Give me 10 min.

[2019-01-16 23:09] #685 closed

[2019-01-17 00:52] kornelski opened #687 "Installer for Windows may be stuck at version 1.22.1"
I've got a report from a user that the installer they've got from the site was 1.22.1 instead of the latest version. I can't verify this myself, since I'm not on Windows.

[2019-01-17 01:01] yoshuawuyts commented on #687
Ah dang, I also don't have a Windows machine. I can swear there's a way to spoof user agents to make it seem like a request comes from Windows but I forgot how to do it.

The source for the user-agent detection code can be found [here](https://github.com/rust-lang/www.rust-lang.org/blob/master/templates/components/tools/install-script.hbs). Perhaps we can spot the bug by hand?

[2019-01-17 01:05] yoshuawuyts commented on #687
Hmmm, people on windows would see [these instructions](https://github.com/rust-lang/www.rust-lang.org/blob/7b164222f5d3ecc87a9eda6b8f6e03da3d9d7b85/templates/components/tools/rustup.hbs#L6-L13):
[code]
This would seem to be an issue with https://win.rustup.rs, and not with this repo. @kornelski would you mind opening an issue on the rustup (windows) repo?

[2019-01-17 11:55] #687 closed

[2019-01-17 20:44] njaard opened #688 ""Other Installation Methods" out of date"
# Content Bug Report

## Page(s) Affected

The links on https://forge.rust-lang.org/other-installation-methods.html#standalone only show downloads for the 1.31.0 release.

## What needs to be fixed?
It should always be updated at the same time as the front page gets updated to show the latest release.

[2019-01-18 13:43] yoshuawuyts commented on #688
@njaard thanks for reporting! That definitely sounds like a bug. Unfortunately this repository does not include the Rust Lang forge, so I've gone and opened an issue on the forge repo. https://github.com/rust-lang/rust-forge/issues/191

Crossing fingers this can be resolved soon!

[2019-01-18 13:43] #688 closed

[2019-01-19 05:45] Mcat12 commented on #429
@ashleygwilliams Is this now unblocked, as the Rocket 0.4 update has been merged?

[2019-01-19 14:58] dustinknopoff opened #691 "Link to blog post for latest release"
# Content Feature Request
## Summary
https://internals.rust-lang.org/t/release-blog-post-link-on-website-front-page/9074

r? @Mark-Simulacrum

[2019-01-20 13:41] #691 closed

[2019-01-21 07:42] yoshuawuyts commented on #429
@Mcat12 yeah, it's unblocked now. Looks like we're waiting for the PR to be updated https://github.com/rust-lang/www.rust-lang.org/pull/465.

[2019-01-28 13:40] kornelski opened #695 "Outdated documentation on doc.rust-lang.org is exposed to search engines"
Is this the right place to report issues with doc.rust-lang.org?

----

https://doc.rust-lang.org/robots.txt blocks documentation pre-1.0 versions, but not outdated documentation from post 1.0.0.

This includes things like an unfinished style guide: https://doc.rust-lang.org/1.0.0/style

While it's great to have a full archive of documentation for all Rust versions, it causes problems for users us

[2019-01-28 15:40] steveklabnik commented on #695
doc.rust-lang.org lives in the rust-lang/rust repo, under the `docs` folder. This is a duplicate of a bunch of issues over there. Closing!

[2019-01-28 15:40] #695 closed

[2019-01-28 17:18] kornelski commented on #695
Thanks. I've found it: https://github.com/rust-lang/rust/issues/44894

[2019-01-29 16:55] siddharthasahu opened #696 "Duplicate collection of documentation links"
Hi,

Now that we have https://www.rust-lang.org/learn, I think https://doc.rust-lang.org should be redirected to the new page.

Also, the edition-guide (https://doc.rust-lang.org/edition-guide) link is missing from both of these places.

[2019-01-29 22:40] siddharthasahu commented on #696
Well, doc.rust-lang.org is also the one available locally with rustup. I suppose the web version could be special cased and redirected.

I'll let this remain open for comments, but the issue can be closed now.

[2019-01-31 00:18] kornelski opened #699 "Suggest `rustup update` before getting started"
# Content Feature Request
## Summary

Suggest updating Rust in case user has an old version that won't work with the examples.

Users who have installed Rust in the past, but only now are getting around to trying it (again), have pre-2018 version, and for them example code seems broken, e.g.:

https://twitter.com/willkirkby/status/1090757489518432261

## Motivation
Rust is unusual with its short "

[2019-01-31 10:53] yoshuawuyts commented on #696
cc/ @steveklabnik do you have any thoughts on this?

[2019-01-31 15:59] steveklabnik commented on #696
The second one is a different bug that has a PR attached.

I am not totally opposed; we still need the page to *exist*, as it's what exists locally, but redirecting from doc.rust-lang.org to rust-lang.org/learn makes sense, I think. That work wouldn't be done in this repository; I think @rust-lang/infra would need to get involved?

[2019-02-01 22:51] pietroalbini commented on #557
Fixed by #692

[2019-02-01 22:51] #557 closed

[2019-02-04 13:15] #234 closed

[2019-02-04 13:15] #671 closed

[2019-02-04 13:15] #672 closed

[2019-02-06 22:59] bungeman commented on #590
Chrome 73 has a change to make non-default letter-spacing disable optional ligatures (as well as some other ligature related fixes), which explains why things are 'fixed' in Chrome 73. The font is FiraSans, and it is likely that the issue seen is due to auto hinting, since I can reproduce on Chrome 72 by changing my system settings to 'slight' hinting. I believe the FreeType auto hinter should fig

[2019-02-07 14:24] amarshall commented on #246
@sendilkumarn Would you mind elaborating what “security issues” arise when opening external links in the same tab?

[2019-02-07 15:00] sendilkumarn commented on #246
Maybe this helps https://mathiasbynens.github.io/rel-noopener/

[2019-02-08 11:02] sanxiyn commented on #612
Any update?

[2019-02-09 14:03] rimathia opened #703 "link to eclipse IDE out of date"
# Content Bug Report

## Page(s) Affected
https://www.rust-lang.org/tools

## What needs to be fixed?
the link for Eclipse points to
https://www.eclipse.org/downloads/packages/release/photon/r/eclipse-ide-rust-developers-includes-incubating-components
which has a header:
This package was released on 06/27/2018. A newer package is available here.

## Suggested Improvement
make the link point to the

[2019-02-09 14:14] rimathia commented on #703
Since this is a very simple suggestion I have made a pull request as well:
https://github.com/rust-lang/www.rust-lang.org/pull/704

[2019-02-10 15:51] amarshall commented on #246
The opener vulnerability is only an issue when a link has a non-empty `target`, as otherwise `window.opener` is always `null`, regardless of `rel=noopener`.

[2019-02-10 16:52] amarshall opened #706 "Do not open links in a new tab"
# Design Feature Request
## Summary
Some, but not all, external links on the Rust website open in a new window. Opening links in a new window is bad user experience and the behavior is more difficult to maintain across all links.

## Motivation
The change to open links in new windows was made claiming "security issues", however no actual security issues were presented in the [original issue](https

[2019-02-12 12:03] tatsuya6502 opened #707 "Japanese translation"
I just wanted to let you know that we are translating the contents into Japanese. Since we do not know yet how the i18n/l10n method goes, we are currently keeping out translations under ja-JP directory of our fork: https://github.com/rust-lang-ja/www.rust-lang.org/tree/japanese/ja-JP/

Please keep this issue open to avoid somebody duplicates our efforts. Thanks!

[2019-02-13 09:54] yoshuawuyts commented on #590
@bungeman thanks for the thorough writeup! Do you have any recommendations where to go from here?

[2019-02-13 09:56] yoshuawuyts commented on #612
@sanxiyn Sorry for the lack of updates!

Between Rust 2018, the holidays and the rust all-hands most people working on this have been a bit busy. There's been talk about forming a Rust Website team; hopefully there should be more bandwidth to explore copy changes once that ball gets rolling.

[2019-02-13 10:00] yoshuawuyts commented on #703
Closed by #704. Thanks!

[2019-02-13 10:00] #703 closed

[2019-02-13 10:07] yoshuawuyts commented on #707
@tatsuya6502 this is fantastic, thanks so much!

Re: i18n/l10n -- as far as I know there hasn't been much talk about this yet; if you have any preferences on how we could integrate translations into the website, input would be very welcome!

[2019-02-13 16:00] bungeman commented on #590
I'm not entirely sure. If I set my system settings to autohinting, load the page in question in Firefox, and then turn off the letter-spacing using the inspector (so that the ligatures can apply) I get the same odd autohinting result. Note that this issue is discussed at length (and originally fixed!) at https://bugzilla.redhat.com/show_bug.cgi?id=368561 . It appears the reason FreeType cannot hin

[2019-02-15 20:04] jayeye opened #710 "Please do not use gray fonts!"
# Design Feature Request
## Summary
I tried reading the various documentation pages. What is the point of having gray fonts on a white background? What's wrong with black fonts on a white background? The other "themes" with the colored fonts are even worse!

[2019-02-18 19:51] nagisa opened #711 "Comma is awkwardly on the next line"
# Content Bug Report

## Page(s) Affected
![screenshot_2019-02-18 install - rust programming language](https://user-images.githubusercontent.com/679122/52973600-390a5e00-33c7-11e9-896b-3fbad6016cb9.png)

## What needs to be fixed?
The lone comma under “Toolchain management”.

[2019-02-19 14:22] chriskrycho commented on #711
Nice find! The problem is that [this link](https://github.com/rust-lang/www.rust-lang.org/blob/a54cde653b77ca4f63d3f3967631698e76f24286/templates/tools/install.hbs#L39-L41) wraps across multiple lines and inserts white space between the end of the preceding line. An easy fix would simply be to put the `</a>,` immediately after the word "platforms" instead of wrapping it into the next line.

[2019-02-19 14:27] nagisa commented on #711
The problem is also relevant to the link just before the one with the comma (notice that whitespace has the underline under it)

[2019-02-19 18:20] yoshuawuyts commented on #710
@jayeye thanks for the feedback! Examples of where this is happening would be very helpful.

[2019-02-22 19:47] jonathandturner opened #714 "Update governance core team to reflect core team"
# Content Bug Report

## Page(s) Affected
Core team page in governance

## What needs to be fixed?
This isn't in sync with https://blog.rust-lang.org/2019/02/22/Core-team-changes.html - namely nrc is listed as having left the core team but is still on the governance page

## Suggested Improvement
Remove nrc from governance core team page :(

[2019-02-24 19:09] jens1o opened #715 "Rust Security Team public key link is inaccessible"
# Content Bug Report

## Page(s) Affected
https://www.rust-lang.org/policies/security

## What needs to be fixed?
The second paragraph links to a public key security researchers are able to encrypt their emails with.

## Suggested Improvement
We could simply add a text version of the public key given below, or make an anchor to it. (Although personally I'd prefer having a new tab open with the pla

[2019-02-26 10:45] yoshuawuyts commented on #714
I believe all that's needed is to update is the core team listing in https://github.com/rust-lang/team.

[2019-02-26 10:46] yoshuawuyts commented on #715
@jens1o could you say more about what's motivating your suggestion?

[2019-02-26 16:45] jens1o commented on #715
I wanted to know how I report security issues, finding that the link is no longer accessible?

Sorry, but I'm not really sure where exactly I should elaborate on.

[2019-02-26 18:56] steveklabnik commented on #715
The plaintext version of the key is at the bottom of the page, right?

And yeah, that link does 404 so we should fix it.

[2019-02-27 12:58] jens1o commented on #715
Yeah, there is. I just wanted to say that. I didn't know how this is an suggestion. Just restoring intended behavior.

[2019-02-28 16:15] nathan commented on #706
Just ran into this using the website. It's especially egregious that the "Blog" link in the website header opens in a new tab, even though every other link in that header on both www.rust-lang.org and blog.rust-lang.org opens in the same tab.

The original change was made based on a complete misunderstanding of the `rel=noopener` exploit; there is no reason to open external links in new tabs and t

[2019-02-28 16:39] steveklabnik commented on #706
I also really dislike when something forces this on me.

[2019-03-01 16:02] tones111 commented on #662
Where can one go to download previous binary releases?  For example, now that 1.33 is out, where can the windows / linux pre-built installers for 1.32?

[2019-03-02 17:39] pravdomil commented on #642
oh please make it DOCUMENTATION so that is 100% clear

[2019-03-03 09:10] mattgathu commented on #642
**NO**. This was about reducing the number of hoops one goes through before getting to **The Standard Library docs**.
In hindsight I do not know how to improve the website to make this better. I have personally moved away from using the website to access the stdlib docs.

I'm closing this issue since it was biased to how I was personally using the website and I have since adjusted and it's no long

[2019-03-03 09:10] #642 closed

[2019-03-03 16:13] jonathandturner opened #719 "Building website on Windows fails with error about VS2010"
# Technical Bug Report
## Your Environment
Windows 10 Home 1809
Visual Studio Community 2017

## Is this an issue with Rust, CSS, or HTML (or a combination)?
Seems to be something trying to build a C++ component?

## Expected Behavior
"cargo watch -x run" should work with an operational Rust setup on Windows

## Current Behavior
I'm currently seeing the website fail to build on Windows with this e

[2019-03-03 16:58] jonathandturner opened #720 "Remove Chucklefish Whitepaper"
# Content Bug Report

## Page(s) Affected
Chucklefish is not using Rust in Witchbrook anymore, after Catherine West left.

Source(s):
https://www.reddit.com/r/programming/comments/atyzz4/halley_a_lightweight_game_engine_written_in_c14/eh69lz7/

https://www.reddit.com/r/rust/comments/avwxq1/chucklefish_is_no_longer_using_rust_for_witchbrook/ehijdwx/

## What needs to be fixed?
Remove the Chucklefis

[2019-03-06 10:15] #706 closed

[2019-03-08 02:47] Maxgy opened #723 "WASM book links to unpublished version"
When clicking on "read the book" on the WebAssembly page, I am taken to the unpublished https://rustwasm.github.io/book/ instead of https://rustwasm.github.io/docs/book/.

[2019-03-08 22:14] lwshang commented on #723
I'd like to claim this issue. Really want to contribute to Rust community.

[2019-03-11 17:22] yoshuawuyts commented on #719
Dang, yeah it seems our SASS engine if failing to build. We're halfway through replacing it with Tachyons, but for the time being it is what holds all of our styling together.

I'm not sure what might be causing this, and don't have access to a Window machine. Perhaps asking on the libsass repo might be helpful? https://github.com/sass/libsass

Sorry this is happening!

[2019-03-11 17:23] #616 closed

[2019-03-12 03:27] lzutao opened #726 "Are there any solutions to view other platform installation page?"
# Question

## Question

This maybe related to #423.

I'm trying to find a link that talk about **two different toolchains** on
Windows (see [rust-lang/rustup.rs#1707#discussion_r264291131](https://github.com/rust-lang/rustup.rs/pull/1707#discussion_r264291131)).
The old link https://www.rust-lang.org/downloads.html#win-foot is no longer exists.

Can I view other platform's installation page (http

[2019-03-14 00:26] yoshuawuyts commented on #726
@lzutao what screen are you referring to? Is that https://www.rust-lang.org/learn/get-started ?

[2019-03-14 03:56] lzutao commented on #726
@yoshuawuyts Sorry for ambiguous. I've updated the issue with more context.

[2019-03-15 11:22] yoshuawuyts commented on #726
@lzutao hah, yeah this has annoyed me before too. I think having a query string indeed makes for a reasonable (interim) solution that can be added without too much trouble. Would you be willing to write a patch to add it?

[2019-03-15 17:51] spk commented on #645
The redirect works now https://www.rust-lang.org/install.html this can be closed I think

[code]

[2019-03-16 17:27] lzutao commented on #726
@yoshuawuyts kinnison has written a patch for this issue. Feel free to take a look at it.

[2019-03-22 10:12] #645 closed

[2019-03-22 10:13] #711 closed

[2019-03-22 10:19] #726 closed

[2019-03-28 03:59] dcarosone opened #733 "Windows installation instructions"
# Content Bug Report

## Page(s) Affected
Getting started / installation

~https://www.rust-lang.org/learn/get-started~
https://www.rust-lang.org/tools/install

## What needs to be fixed?

I wanted to look at the instructions for installing on Windows the other day, because i remembered that there were a bunch of extra steps and dependencies. I don't normally use windows, but I was curious about t

[2019-03-28 05:30] toidiu opened #734 "User (Friends of Rust) page should have link to job page"
# Content Feature Request
## Summary
The "Users of Rust" page should also have a link or email to apply for Rust jobs.

Relevant links:
https://www.rust-lang.org/production/users
https://github.com/rust-lang/www.rust-lang.org/blob/master/src/data/users.yml

## Motivation
Make recruiting/applying for Rust positions seamless. This page already compiles the companies using Rust it would be nice to su

[2019-03-28 15:33] steveklabnik commented on #733
Here's the old page: https://prev.rust-lang.org/en-US/install.html

I think that everything that used to be visible is the exact same on the new page.

[2019-03-28 23:45] dcarosone commented on #733
Thanks, this (and the link to the additional detail) was precisely what I remembered and was looking for:

![image](https://user-images.githubusercontent.com/11495017/55199353-b9d02d00-51b1-11e9-9d47-a223f1960267.png)

It's not in the main page. It turns out, it *is* in the second page (tools/install) behind the "learn more" banner link, *when I come from a browser on Windows*.  It's there in the

[2019-03-29 01:10] dcarosone commented on #733
(or, frankly, since it's only a heading and single paragraph, already behind a would-you-like-to-know-more? link, just don't hide this at all)

[2019-03-29 03:15] steveklabnik commented on #733
Ah ha, I think that's some of the issue here too; I thought you were talking about the install page, not the main page.

[2019-03-29 06:31] dcarosone commented on #733
I was looking in the "getting started" page, where (navigationally) it used to be. The old site didn't have the extra first step; a "getting started" link on the homepage went directly to the "install" page you linked to with the content in question.

I didn't find it, either there or in the series of "more info" pages. I didn't remember what I was looking for clearly enough to notice that the tex

[2019-04-02 15:54] yoshuawuyts commented on #734
@toidiu I like your idea -- this seems like something that's not too hard to add, and would probably benefit folks!

There's the question of consent though: I believe these companies have been reached out to before being included on the site, and linking to their hiring pages might not have been part of that conversation. We should probably be careful not to overstep our bounds here.

cc/ @carols1

[2019-04-02 18:57] steveklabnik commented on #734
I think that this is going to be too hard to keep current.

[2019-04-02 20:01] toidiu commented on #734
I personally think that enabling crowdsourcing is the way forward here. This largely means adding a link to the github data page with some instructions. And if not then it not something of value and no one need maintain it.

The entire assumption is that finding a Rust developer is difficult for a company and for a developer its not obvious which companies are actually using Rust in production. (t

[2019-04-04 20:04] josh-kean commented on #720
hi jonathandturner, I found the page that Chucklefish is mentioned on, and I think I can effectivley remove it. Mind if I take a crack at this?

[2019-04-04 20:05] lzutao commented on #720
@josh-kean You're welcome to do that.

[2019-04-05 20:42] lwshang opened #737 "Travis CI badge points to wrong url"
In README.md, the badge should be [![Build Status](https://travis-ci.com/rust-lang/www.rust-lang.org.svg?branch=master)](https://travis-ci.com/rust-lang/www.rust-lang.org)

[2019-04-05 20:58] #737 closed

[2019-04-06 07:29] sanxiyn commented on #612
Any update? Rust landing page still does not tell what Rust is.

[2019-04-09 08:19] yoshuawuyts commented on #612
@sanxiyn getting the ball rolling again has been taking a bit longer than I'd hoped for. I don't have an ETA, but am confident we'll get there eventually (:

[2019-04-09 13:55] alex opened #739 "Set HTTP Strict-Transport-Security header"
# Technical Feature Request
## Summary
Set the `Strict-Transport-Security` header on requests r-l.o, which a long `max-age`.

## Motivation

This ensures that users' browsers automatically take them to the https:// version of the site, even if they type http:// into their browser, thus avoiding an insecure request which can be hijacked.

## Drawbacks
None that I can think of (unless there was a pl

[2019-04-12 02:38] Maxgy commented on #655
closing this issue since the Chucklefish logo is no longer present

[2019-04-12 02:38] #655 closed

[2019-04-17 14:49] skade opened #742 "Move info about URLO and IRLO up on the community page"
# Design Feature Request
## Summary
Move URLO and IRLO up on the community page, and recommend them as a place to ask.

## Motivation
The community@ mailing list currently gets a lot of question of the technical kind.

[2019-04-17 14:50] skade commented on #742
Another option (but more heavyweight) would be an explicit "get help" section

[2019-04-19 18:12] parhaml opened #745 "Lint code samples in The Rust Programming Language online book"
# Content Bug Report

## Page(s) Affected
[One example](https://doc.rust-lang.org/book/ch02-00-guessing-game-tutorial.html#processing-a-guess):

The code for setting the guess:
[code]

Then running `rustfmt main.rs` re-formats the code:
[code]
This is just the first one that I came across.

## What needs to be fixed?
The code sample _seems_ to be formatted incorrectly according to `rustfmt`. For n

[2019-04-20 06:27] yoshuawuyts commented on #745
@parhaml I'd be open to patches to merging patches that format the code examples using rustfmt; I think your reasoning here makes a lot of sense!

[2019-04-22 15:09] parhaml commented on #745
Closing this issue in favor of
https://github.com/rust-lang/book/issues/1690

[2019-04-22 15:09] #745 closed

[2019-04-25 08:09] badboy opened #746 "Redirect /en-US/ (and other locales) to homepage"
# Technical Feature Request
## Summary
With the new website, we (unfortunately) dropped translations.
That means that direct links to the index of a locale results in a 404.
This also happens for https://rust-lang.org/en-US/.

At least the last one should redirect to the main page (though we already redirect every `/<locale>/<path>` to `/<path>` if that path was valid on the old site, locale is e.

[2019-04-29 14:41] sntdevco opened #751 "Change wording"
# Content Bug Report

## Page(s) Affected
Media Guide

## What needs to be fixed?
'Send mail to' doesn't seem alright

## Suggested Improvement
Review PR [#751](https://github.com/rust-lang/www.rust-lang.org/pull/752)

[2019-04-29 15:44] #751 closed

[2019-05-06 11:56] #657 closed

[2019-05-08 01:59] JakeTherston opened #754 "The landing page doesn't tell the visitor what rust is"
# Content Bug Report

## Page(s) Affected
The landing page.

## What needs to be fixed?
The landing page never states that Rust is a programming language. In fact, the term "programming language" is never stated once. In it's current state, a visitor can not be reasonably expected to understand what Rust from the landing page.

## Suggested Improvement
Add "Rust is a programming language that..."

[2019-05-08 11:15] skade commented on #754
Thanks for the report <3. It's a duplicate of #612, though.

[2019-05-08 11:15] #754 closed

[2019-05-08 16:42] skade commented on #612
A change would certainly be accepted, but the proposed change would lengthen the claim and take a lot of steam out of it. I would avoid to discuss changing the claim, instead finding another option to weave it in.

[2019-05-08 16:57] eddyp commented on #612
@skade What if we replace "Rust" with "The Rust Programming Language"?

(btw, the same issue of order occurs in the Android app I'm using, so it's probably something in the meta data / API data)

[2019-05-08 17:17] skade commented on #612
@eddyb I'm not very hype about that either. It's totally okay (and usual) to make the claim and intro without stating the exact nature of the product for brevity sake.

[2019-05-09 03:11] JakeTherston commented on #612
The issue here is that the page does not state the nature of the product at all. Not even generally.

I would urge you to give precedence to function over design. Internet users have (rightfully, imo) come to expect that landing pages contain some sort of description of the products or services being shown. The page, as it currently is, is simply not useful for the vast majority of people. The pag

[2019-05-09 10:34] skade commented on #670
Codegen doesn't seem to exist anymore and I pinged @nikomatsakis about the other groups.

[2019-05-09 10:36] skade commented on #720
Hm, there's a PR for that, which was closed.

[2019-05-09 12:08] nikomatsakis commented on #670
Yeah, so, I raised this issue when the website was first launched. Overall it doesn't really fit the model of working groups in the compiler team, which don't have formal membership typically.

[2019-05-09 12:10] nikomatsakis commented on #670
I think what I would like is to have a presentation that lists out the purpose of the working group in a sentence or two, some contact info, and a link to the working group page.

Of course, we could also try to adopt a model with more formal membership, but so far that hasn't ever felt like it works out so well. (That would be a good thing to discuss in #t-compiler/wg-meta on Zulip)

[2019-05-09 12:18] nikomatsakis commented on #670
Looking at the current display, it's not *that far* from what I would like. I think my main concern is that the "members" display makes it look like these are all the members, when in fact that set is not well defined. I might prefer if it listed just "lead", but I think I wouldn't object to omitting membership info all together and instead *just* linking to the repository, which includes info on

[2019-05-09 12:26] skade commented on #670
I think it's useful to have face and person attached, even if they are just a proxy. Still, that mainly means we need to cover the case where we have teams with no fixed membership, but a contact point is wanted.

[2019-05-09 13:56] skade commented on #734
The friends/users page is not intended as a hiring board. The current page is intended to reduce any kind of volatile information with high churn. This goes as far as:

* Not having a conference page that needs constant updating
* Avoiding linking to external resources that have not shown multi-year track-record

It's a serious problem to find contributors for frequent content-checking and we can'

[2019-05-09 14:00] skade commented on #719
Blocked on the removal of skeleton towards Tachyon https://github.com/rust-lang/www.rust-lang.org/issues/183

[2019-05-09 14:03] skade commented on #699
@kornelski Which page does this exactly apply to? I'm happy to review and merge a PR.

[2019-05-09 14:06] skade commented on #714
Thanks for mentioning that!

NRC is currently still taking part in core team meetings and is active at giving valuable feedback. We'll update the page once the announced move of not participating actually happens.

[2019-05-09 14:06] #714 closed

[2019-05-09 14:12] skade commented on #707
Hi @tatsuya6502. The translation method will probably be pontoon/fluent-rs, mostly because of having organisational knowledge and support close.

@renyuneyun is currently working on an integration and I'd be happy to help to have this take off!

[2019-05-09 14:14] skade commented on #696
I'll check up with infra on this.

[2019-05-09 14:26] skade commented on #662
@pietroalbini Does that mean hitting the github API on every build of the page? Can we run into limits there?

[2019-05-09 14:27] skade commented on #653
There's a couple of issues like this, mostly caused by the half-finished move to a new design system. The main work is finding a page that works and using that structure where it doesn't work.

[2019-05-09 14:28] skade commented on #646
Fixed by #647

[2019-05-09 14:28] #646 closed

[2019-05-09 21:04] pietroalbini commented on #662
So, there are two problems related to this issue.

### Users want to download (even old) Rust versions from the website

If someone wants to download Rust without going through rustup at the moment is redirected by the website to [this forge page](https://forge.rust-lang.org/other-installation-methods.html). There are a few issues with that:

* The forge page only links to the current release's ar

[2019-05-09 21:13] pietroalbini commented on #696
By the way it's easy to add this kind of redirects: all of the doc.rust-lang.org requests already go through a Lambda@Edge for routing, and this would just be yet another `if`.

[2019-05-09 21:16] pietroalbini commented on #739
I'll take on this (along with all the other headers needed to reach an A+ grade on the [Observatory](https://observatory.mozilla.org/analyze/www.rust-lang.org)) as part of an audit of those headers I'm doing across all Rust websites.

[2019-05-09 21:27] pietroalbini commented on #696
If y'all want to try this I can setup the redirect on https://dev-doc.rust-lang.org.

[2019-05-09 22:21] skade commented on #590
Is there an estimate how prevalent this issue is? I would like to avoid fixes for something that is clearly a bug some browsers rendering.

I don't experience this issue with Fedora 29 and Chrome 73 (as expected).

That said, FiraGO might be a good choice in the future because of better support non-latin scripts.

[2019-05-09 22:53] skade commented on #216
I'll close this. This seems done. Please reopen otherwise.

[2019-05-09 22:53] #216 closed

[2019-05-09 23:12] skade commented on #291
Question here: the FAQ was pretty much a grab-bag of information, but were those questions really that _frequent_? The current iteration of the FAQ is also often subtly wrong and very unmaintained (e.g. it still documents that Mozilla _might_ use Rust in Firefox in the future). The FAQ was useful when we didn't have much, now we have multple and we have spread a lot of the info across the page.

I

[2019-05-09 23:17] Centril commented on #291
@skade I think at least it would be good to archive the FAQ in some repo such that the information isn't lost such that we can reuse the material in other places.

[2019-05-10 07:06] pietroalbini commented on #291
Well, I don't think we're going to delete the old website's repository.

[2019-05-10 07:07] Centril commented on #291
@pietroalbini Then it's all good. :)

[2019-05-10 07:23] skade commented on #291
The old page is always available at https://prev.rust-lang.org. If anyone reads this and has the time, https://prev.rust-lang.org/en-US/faq.html is the location of the old FAQ and it would be interesting to go through it and figure out which information is valuable to move it somewhere :).

[2019-05-10 07:23] #291 closed

[2019-05-10 08:31] skade opened #755 "Replace Fira with FiraGO"
# Design Feature Request
## Summary
FiraGo is an extended version Fira with better support for non-latin fonts.

## Motivation
This might help in i18n efforts.

## Drawbacks
Potentially increased font file size.

[2019-05-10 08:53] skade commented on #590
I decided to close this as a fringe subject that I can't judge. If you think I misjudge the impact of this problem, please ping me and reopen.

Thanks for the awesome research and I will take the suggestion of going for FiraGO!

https://github.com/rust-lang/www.rust-lang.org/issues/755

[2019-05-10 08:53] #590 closed

[2019-05-10 12:59] kornelski commented on #699
The relevant page is https://www.rust-lang.org/learn/get-started - the ferris says example is the code that doesn't work with 2015 rust. I must admit I'm not sure exactly where exactly to put the rustup update suggestion, as the process is split over several sections.

[2019-05-11 07:38] pietroalbini opened #756 "Remove the "2018 edition" banner on the home page"
The edition release was last year, it might be time to remove that banner.

cc @skade

[2019-05-12 15:34] toidiu commented on #734
@skade your comments make a lot of sense.

[2019-05-12 15:34] #734 closed

[2019-05-13 08:04] skade opened #757 "Duplicate ID on licenses page"
# Content Bug Report

## Page(s) Affected
https://www.rust-lang.org/policies/licenses, id: "license"
https://www.rust-lang.org/governance, id: "teams"
https://www.rust-lang.org/tools, id: "type-systems"

## What needs to be fixed?
Some sections like:
[code]

reports a duplicate ID. It needs to be changed to something unique.

[2019-05-13 08:12] skade opened #758 "Bad contrast on code examples"
# Design Bug Report

## Page(s) Affected
All pages with code:
* [ ] https://www.rust-lang.org/policies/security
* [ ] https://www.rust-lang.org/learn/get-started
* [ ] https://www.rust-lang.org/tools
* [ ] https://www.rust-lang.org/learn/get-started
* [ ] https://www.rust-lang.org/tools/install

## What needs to be fixed?
The code examples need to get a better visibility. Often, they are white on

[2019-05-13 08:24] skade commented on #289
Scores are: Performance, Accessibility, Best Practices, SEO.

100 is good, 0 is bad.

Most accessibility issues are due to having one item with bad contrast on the page. Revisit on single page rebrushs.

Performance issues are due to Cache Policy :https://github.com/rust-lang/www.rust-lang.org/issues/319

- [x] Landing: 98, 93, 100, 91
- [x] What: 100, 100, 100, 91
- [x] WASM: 100, 93, 100, 91
- [

[2019-05-13 08:24] #289 closed

[2019-05-13 08:26] skade commented on #710
Superseded by https://github.com/rust-lang/www.rust-lang.org/issues/758

[2019-05-13 08:26] #710 closed

[2019-05-13 08:36] skade commented on #756
Suits me.

[2019-05-13 08:44] #715 closed

[2019-05-13 08:46] skade commented on #758
Portential PR here: https://github.com/rust-lang/www.rust-lang.org/pull/606

[2019-05-13 09:46] skade commented on #696
Okay, I'd love to have this redirect. The side-issue of the edition guide not being linked is fixed. I'll change this into two different issues.

[2019-05-13 09:48] skade opened #761 "Redirect doc.rust-lang.org to /learn"
# Content Feature Request
## Summary
Followup of:
https://github.com/rust-lang/www.rust-lang.org/issues/696

Now that we have /learn, we don't need doc.rust-lang.org to be the main page of the rust offline documentation. The latter should still be maintained.

## Task

* [x] Setup a redirect from https://doc.rust-lang.org to https://rust-lang.org/learn

## Motivation
Consistency. The learn page wi

[2019-05-13 09:50] skade opened #762 "/learn should have a "search the stdlib" field"
# Content Feature Request
## Summary

Now that /learn is becoming the docs landing page, I'd love to see a direct search field through the docs, similar to the field that the stdlib docs give you.

## Motivation

It raises awareness of the feature and is easy to implement.

## Maintenance

The docs search field remains stable.

[2019-05-13 09:52] skade commented on #762
Supersedes https://github.com/rust-lang/www.rust-lang.org/issues/762

[2019-05-13 09:53] skade commented on #696
Closed in favor of the linked issues. The edition guide problem is fixed. Thanks for the report @siddharthasahu .

[2019-05-13 09:53] #696 closed

[2019-05-13 12:59] pietroalbini commented on #761
Implemented the change on https://dev-doc.rust-lang.org. Can someone from @rust-lang/docs check that everything is correct and acknowledge the change? Some notes:

* The redirect is only done for the root. Release or channel specific indexes like https://dev-doc.rust-lang.org/1.34.1/ are not redirected.
* The redirect is a temporary redirect (302) instead of a permanent redirect (301). This preven

[2019-05-13 13:00] pietroalbini commented on #761
Instructions for other infra team members to apply the change on doc.rlo if I don't get around to it:

* Deploy version 9 of the `docRustLangOrgRouter` lambda to the CloudFront distribution
* Invalidate the cache for `/*`

[2019-05-13 14:55] skade commented on #612
Sorry for taking the weekend to come back to you.

I circled the thing around a little with some designer friend and we ended up with the following: Change the claim to "A language empowering everyone in building reliable and efficient software.". This avoids extending the claim too long ("programming" is implied in "software").

Considering adding a section on top of the main content: we'd like t

[2019-05-13 17:06] eddyp commented on #612
@skade That sounds awesome.

May I ask if the change from "to build" into "in building" is intentional? Even if the later is also proper English, the former seems easier to parse for non native speakers. At least that's how people thought when asked.

[2019-05-13 17:07] eddyp commented on #612
... and the former is shorter 😉

[2019-05-13 21:14] skade commented on #661
Should be fixed by removing the edition banner #756

[2019-05-13 21:52] skade commented on #499
I did some cleanup over in https://github.com/rust-lang/team/pull/68. Most of the issues were already fixed, I made consistent what I found.

Thanks for the report!

[2019-05-13 21:56] #499 closed

[2019-05-13 21:59] #661 closed

[2019-05-13 21:59] #756 closed

[2019-05-13 21:59] #757 closed

[2019-05-14 08:35] skade opened #767 "Change redirect implementation"
# Technical Feature Request
## Summary
Redirection is currently a simple match table from filename to filename. It would be better to configure them through a configuration file that goes (regex) -> (replacement).

This file could also act as a history of past redirects.

## Motivation
The current redirect systems is a set of functions together with a match table for the `<dest>` parameter. That h

[2019-05-14 10:20] skade commented on #612
@eddyb Thanks for checking that. It was intentional, but given that you collected more feedback than I had, I'll change it back :).

[2019-05-14 10:31] skade commented on #612
Amended the PR.

[2019-05-14 11:59] #684 closed

[2019-05-14 11:59] #746 closed

[2019-05-14 12:44] skade commented on #612
Done. Closing this in favor or #351 and #445, which should cover the "deeper look at Rust" aspect, once implemented.

[2019-05-14 12:44] #612 closed

[2019-05-14 12:45] eddyp commented on #612
@skade thanks. BTW, stop pinging eddyb and ping me, eddyp instead 😉

[2019-05-14 12:51] skade commented on #612
@eddyp right, damn suggestions. We also need an @eddy(d), and we got all the confusion :+1:

[2019-05-14 12:52] skade commented on #458
@mark-i-m Is this still a need?

There might be a chance to roll this together with #351 and #445 come up with a set of suggestions for the frontpage.

[2019-05-14 14:39] mark-i-m commented on #458
I'm ok with explicit use cases. I agree with you there. My concern is that it sounds like you should only use it for those use cases.

[2019-05-14 16:52] pietroalbini commented on #458
Maybe we should add a fifth "other use cases" section? Dunno how much content we can fill in it though.

[2019-05-14 23:36] cup opened #770 "Offer zip builds"
If you go here:

http://forge.rust-lang.org/other-installation-methods#standalone-installers

you see MSI and TAR.GZ installers for Windows. This is strange because typically
programming language vendors will offer:

1. MSI or EXE installer
2. ZIP file with compiler or interpreter that can be extracted and run

the Rust TAR.GZ is similar to option 2, but if you extract `rustc.exe` wont
actually ru

[2019-05-14 23:38] cup commented on #770
https://github.com/rust-lang/rust/issues/60335
https://github.com/rust-lang/rustup.rs/issues/1851

https://github.com/rust-lang/www.rust-lang.org/issues/770

[2019-05-15 08:12] skade commented on #770
This is primarily a packaging issue and should be posted to https://github.com/rust-lang/rust instead.

/cc @pietroalbini

[2019-05-15 08:41] skade commented on #458
If there is a use-case we want to highlight, I'd make it a full page. We want to avoid bags of info with no goal. Still, some notion of "Rust is used for tons of things, here's a couple of highlights" sounds good,

[2019-05-15 08:46] #720 closed

[2019-05-15 08:55] skade commented on #758
PR #606 has the problem of making all background forcibly white, which puts "holes" into the design. We basically need to create out own themes there.

As an initial fix, we'd prefer a non-highlighted change, which tunes the backgrounds.

[2019-05-15 09:14] pietroalbini commented on #770
Unless we move that download page from the forge to the website (which would be a good thing) this issue should be on the forge.

[2019-05-15 09:14] skade commented on #478
Hm, replacing yellow by pinkish doesn't sound like a good way here. The idea is to always have color triples and the color corresponding going with white background and black text is yellow. It's consistent here, even if the "get started" button is a special element that is not use somewhere else.

(Ignoring the footer)

Given the road this issue has taken (and that it's basically a bit of a proxy

[2019-05-15 09:30] skade opened #772 "Rework "Rust in Production" section"
# Design Feature Request
## Summary
The Rust in Production section is broken due to using different font-sizes and a non-standard design, which doesn't fit into the surrounding style. This mainly materializes through fonts not scaling the same as the surrounding elements and using a different line-height.

Given the multitude of issues and the small section of the page it is, it could be fully reb

[2019-05-15 09:31] skade commented on #400
Closing in favor of #772, I'll nominate that for a full rebuild.

[2019-05-15 09:31] #400 closed

[2019-05-15 09:31] skade commented on #525
Closing in favor of #772, I'll nominate that for a full rebuild.

[2019-05-15 09:31] #525 closed

[2019-05-15 09:32] skade commented on #524
I added the production-section issue as #772.

[2019-05-15 11:36] cup commented on #770
https://github.com/rust-lang/rust-forge/issues/225

[2019-05-15 12:42] Mark-Simulacrum commented on #770
Closing in favor of the forge issue as per previous comment.

[2019-05-15 12:42] #770 closed

[2019-05-15 17:58] skade commented on #589
@3442853561 I'd be interested in starting some editing guidelines for the website. Do you think you could add some of these learnings (and maybe some more) to something like that?

[2019-05-16 06:37] infinity0 commented on #662
The index page could be split up by type-of-artifact in order to make it smaller. In Debian we're usually only interested in the source code, and much less often the binaries.

[2019-05-16 10:53] pietroalbini commented on #662
For the Debian use case https://github.com/rust-lang/rust-forge/issues/215#issuecomment-488877976 is probably the best thing from both projects' point of view. We just need to find the time to implement it infra-wise.

[2019-05-16 12:24] steveklabnik commented on #761
Looks good to me!

[2019-05-16 13:43] pietroalbini commented on #761
Changes are deployed!

[2019-05-16 13:43] #761 closed

[2019-05-16 16:51] #541 closed

[2019-05-16 17:10] carols10cents opened #777 "More automated conference page that includes upcoming and past events"
# Content Feature Request
## Summary

Right now, https://www.rust-lang.org/community links to https://blog.rust-lang.org/2018/01/31/The-2018-Rust-Event-Lineup.html. I'm about to write a blog post like this for 2019. For the long term though, and as more Rust conferences form (🤞), it'd be nicer to have a way that conference organizers could submit their event info and we have a page that shows a se

[2019-05-16 17:19] #653 closed

[2019-05-17 10:43] Darkspirit commented on #739
See also: rust-lang/rustup.rs#180

[2019-05-18 12:53] pietroalbini commented on #739
Opened a PR to add all the headers needed to reach A+ on the [Mozilla Observatory](https://observatory.mozilla.org): https://github.com/rust-lang/www.rust-lang.org/pull/778.

We won't add the Rust domains on the HSTS preload list right now. I plan to bring the topic up in the infra team once we finish the audit of all the domains.

[2019-05-18 16:23] cdeil commented on #285
I'm new to Rust, landed at https://www.rust-lang.org/learn and since it doesn't link to https://www.rust-lang.org/learn/get-started or https://play.rust-lang.org/ missed those initially.

+1 to add a prominent link to https://www.rust-lang.org/learn/get-started from https://www.rust-lang.org/learn

[2019-05-20 02:48] josephleblanc opened #779 "Typo in chapter 12 of the rust book."
# Content Bug Report

## Page(s) Affected
https://doc.rust-lang.org/stable/book/ch12-01-accepting-command-line-arguments.html

## What needs to be fixed?
Under the section "Reading the Argument Values" there is a formatting error. The first paragraph of this section ends with "We’ll cover iterators fully in Chapter", followed by a new line and then an indented number point, "13. For now, you only

[2019-05-20 05:05] tshepang commented on #779
This is fixed in the [beta version of the docs](https://doc.rust-lang.org/beta/book/ch12-01-accepting-command-line-arguments.html). Beta will be promoted to stable on Thursday, so the link you gave will have a fixed version then.

[2019-05-20 06:19] skade commented on #779
The book is not part of the website (project-wise), bugs must be reported to https://github.com/rust-lang/rust.

Thanks for reporting and thanks @tshepang for checking for the fix!

[2019-05-20 06:19] #779 closed

[2019-05-20 09:16] skade opened #780 "Frontend cleanup: Remove Skeleton"
Supersedes #183

The Rust website currently uses two CSS frameworks: Skeleton and Tachyons (http://tachyons.io/docs/layout/flexbox/). This is due to an unfinished migration. This unfinished migration is a blocker for further extensions of the website.

We'd like to completely move over to Tachyons. There's two wishes here:

* We should avoid tachyons _grid_ and instead us its flexbox classes: http

[2019-05-20 12:31] skade commented on #777
Hi, I'd like to note down the current line of thinking behind the current implementation. There's two points:

The website avoids having any dynamic elements that need constant editorial oversight, also to make sure that it can be well internationalised.

The second is the editorial concern concerning which conferences are featured and which not.

The current situation shows though that the curren

[2019-05-20 13:50] andirotter commented on #780
Hey there,

i will start with the "Install" subpage. Also heading over to the discord chat for questions that might arose.

[2019-05-20 14:55] Pjb518 commented on #780
Hey,

I've actually almost completed the Learn page. This includes a lot of site-wide styles, such as the headers and the footer code.

[2019-05-20 15:03] skade commented on #780
Thanks! @Pjb518 and @andirotter!

[2019-05-20 16:09] skade opened #783 "Add responsive images and processing for those"
# Technical Feature Request
## Summary
Responsive images allow much faster loading, especially for small viewports.

## Motivation
The current page just includes one image size, leading to long load times on mobile.

It would be better accommodate for smaller devices and less bandwidth connections to load only what's necessary.

## Unresolved Questions

How do we do image preparation? Manual or do

[2019-05-20 16:40] polarathene opened #784 "Don't hide text during webfont load"
# Technical Bug Report
## Your Environment
| Software         | Version(s) |
| ---------------- | ---------- |
| Form Factor      | Desktop |
| Browser Type     | Chrome - Linux |
| Browser Version  | 73 |

## Is this an issue with Rust, CSS, or HTML (or a combination)?
CSS / HTML - Font loading
## Expected Behavior
Text should not be hidden due to webfont loading.

## Current Behavior
As shown [h

[2019-05-20 18:07] wizofe commented on #780
I can get the `what/embedded` page :)

[2019-05-20 18:23] skade commented on #780
@wizofe go ahead. Note that @Pjb518 got header and footer ported, no need to invest time there!

[2019-05-20 18:38] eatrero commented on #780
Hi, I can help out on the `/policies` page

[2019-05-20 19:17] Pjb518 commented on #780
The section headings and global font size has also already been taken care of, so most of the changes now should be layout issues.

[2019-05-21 12:35] yayoc commented on #780
Hi, I can get `/community` page.

[2019-05-21 12:36] skade commented on #780
@yayoc yay! :tada:

[2019-05-21 13:50] skade opened #786 "Fix outstanding bugs in the /learn page"
Details here: https://github.com/rust-lang/www.rust-lang.org/pull/781#issuecomment-494111801

[2019-05-21 14:48] #739 closed

[2019-05-21 20:34] dzhibas commented on #780
`/tools` PR https://github.com/rust-lang/www.rust-lang.org/pull/787

[2019-05-21 20:59] dzhibas commented on #780
`404 NotFound` template fix https://github.com/dzhibas/www.rust-lang.org/pull/new/780-get-rid-of-skeleton-404

[2019-05-21 21:35] skade commented on #780
@dzhibas Indeed, the /contribute page doesn't exist anymore (I thought I caught all of them when I copied the list)

[2019-05-22 00:12] skade commented on #707
@tatsuya6502 the basics for i18n is merged and we'd be happy to start integrating :).

[2019-05-23 16:58] Manishearth opened #798 "[meta] Add localization strings everywhere"
Part of https://github.com/rust-lang/www.rust-lang.org/issues/799

With https://github.com/rust-lang/www.rust-lang.org/pull/794 and https://github.com/rust-lang/www.rust-lang.org/pull/796 we have all of the infrastructure necessary to add localization strings everywhere.

If you're interested in helping, check out the i18n branch, pick an unclaimed file from the below list, and follow the instruct

[2019-05-23 16:58] Manishearth opened #799 "[meta] Tracking issue for internationalization"
This is the tracking issue for internationalization of the website

 - [x] Basic implementation https://github.com/rust-lang/www.rust-lang.org/pull/792
 - [ ] Add translation strings everywhere (help wanted! https://github.com/rust-lang/www.rust-lang.org/issues/798)
 - [ ] Translate all the things

[2019-05-23 17:19] Manishearth commented on #798
## Instructions

Make sure you're working off the `i18n` branch.

The way this works is that you take one of the handlebars files under `templates/`, and move all of their strings into a Fluent .ftl file. So, you start off with something like

[code]

and turn it into

[code]

[code]

Basically, go through every string in the file, give it an appropriate name, and move it into an FTL file. [`templ

[2019-05-23 17:56] lwshang commented on #780
I suggest to have some extra columns in the table which show the current status (like `Open`, `In Development`, `Done`) of a page and maybe who contributed to or is working on that page. That will make it easy to track the progress.

[2019-05-23 17:56] sam-clulow commented on #783
@skade I'd like to have a go at solving with this issue if that's OK.
Are there any specific requirements that I should be aware of?

[2019-05-23 18:34] skade commented on #783
@sam-clulow Other then using no tooling beyond rustc and cargo, that's it :)

[2019-05-23 18:46] skade commented on #784
@polarathene could you please check if #797 improved the situation for you? (allow ~10 minutes for deployment)

If yes, could you please close this issue?

[2019-05-23 20:11] eignnx commented on #798
Hi Manish, I'll start working on the [`tools.ftl`](https://github.com/rust-lang/www.rust-lang.org/tree/i18n/templates/tools) file.

I'll assume that proper nouns like ["Rustfmt"](https://github.com/rust-lang/www.rust-lang.org/blob/3f8c8a58b0b5785abac325ffbc981d0baeffe877/templates/tools/index.hbs#L98) that are used as a title should be factored out as well.

[2019-05-23 20:28] Manishearth commented on #798
@eignnx yes, that should be done too. All words, basically.

[2019-05-23 20:29] Manishearth commented on #798
@eignnx note that the tools.ftl file already contains one line of test translation. Leave that as is. It's using textparams, but don't worry about that for now, we don't actually want to do that kind of thing in most cases.

[2019-05-23 21:50] eignnx commented on #798
@Manishearth any style preference for line-length in `.ftl` files? I see in [`teams.ftl`](https://github.com/rust-lang/www.rust-lang.org/blob/i18n/templates/fluent-resource/en-US/teams.ftl) body text tends to be on one line, as opposed to [`tools.ftl`](https://github.com/rust-lang/www.rust-lang.org/blob/i18n/templates/fluent-resource/en-US/tools.ftl) where body text is split onto multiple lines, a

[2019-05-23 21:52] Manishearth commented on #798
teams.ftl is autogenerated. Split into multiple lines where you can. No hard limit, but I'd try to wrap at 80 or 100.

[2019-05-23 22:53] polarathene commented on #784
@skade Definitely better with text being there straight away. There is a little bit of reflow going on due to the differences between fonts swapped, mostly letter-spacing/kerning I think? Most noticeable difference is the `h1`s which have a big contrast in font-weight, I guess there isn't much you can do about that.

[2019-05-23 22:53] #784 closed

[2019-05-23 23:05] eignnx commented on #798
I'm now working on `tools/install.hbs`

[2019-05-23 23:29] eignnx commented on #798
@Manishearth for multi-paragraph sections, should each `<p>` contain it's own substitution variable:

[code]
[code]
or could one variable contain all three `<p></p>` tags:

[code]

[code]

(re: [tools/install.hbs](https://github.com/rust-lang/www.rust-lang.org/blob/45dae63955c4d0dea60adf7891cd229edd1580bc/templates/tools/install.hbs#L32-L54))

[2019-05-23 23:38] Manishearth commented on #798
@eignnx For now, keep the paragraphs in the translation file (i.e. use one variable)

[2019-05-24 05:12] 3442853561 commented on #589
@skade Thank you for your recognition. I am willing to join!

[2019-05-24 10:22] dzhibas commented on #780
totally agree @lwshang , at this point it's hard to track whats left and where people can jump in and still contribute

[2019-05-24 11:28] skade commented on #780
I changed the list above. Anything more complex would probably need breaking things up into tickets.

[2019-05-24 17:11] eignnx commented on #798
@Manishearth now working on `cli.ftl`

[2019-05-24 18:01] skade commented on #96
Closing this, we have decided on a method.

[2019-05-24 18:01] #96 closed

[2019-05-24 18:02] skade commented on #629
@brunoczim We have just merged the initial work for translations and would love a pt-BR translation. A draft of the translations can be found here: https://github.com/rust-lang/www.rust-lang.org/blob/master/TRANSLATIONS.md

[2019-05-24 18:03] skade commented on #589
@3442853561 the first draft for a translation guideline was merged here, feel free to post PRs to that :).

https://github.com/rust-lang/www.rust-lang.org/blob/master/TRANSLATIONS.md

[2019-05-24 23:28] eignnx commented on #798
@Manishearth now working on policy pages. There's a lot of content here, so I think I will break it up into 5 files:
1. `policies.ftl` (corresponding to [`templates/policies/index.hbs`](https://github.com/rust-lang/www.rust-lang.org/blob/i18n/templates/policies/index.hbs))
1. `code-of-conduct.ftl`
1. `licenses.ftl`
1. `media-guide.ftl`
1. `security.ftl`

[2019-05-24 23:35] Manishearth commented on #798
Sounds good!

On Fri, May 24, 2019, 4:28 PM Gideon Buckwalter <notifications@github.com>
wrote:

[2019-05-25 04:31] skade opened #805 "Front page layout issue: Right column using too much space"
# Design Bug Report

## Page(s) Affected
"/"

## What needs to be fixed?

![Screenshot_2019-05-25 Rust programming language](https://user-images.githubusercontent.com/47542/58364554-9aeece00-7eb6-11e9-8dbc-f050a14e9bdf.png)

The right column is using all remaining space.

## Suggested Improvement

Have the right column use as much space as the others.

[2019-05-25 09:18] skade opened #808 "Networking page: buttons not aligned"
# Design Bug Report

## Page(s) Affected
`/what/networking`/

## What needs to be fixed?

![Screenshot_2019-05-25 Networking - Rust programming language](https://user-images.githubusercontent.com/47542/58367381-d30a0700-7ede-11e9-8862-3f9c486eb0e4.png)

The buttons are not aligned.

[2019-05-25 13:35] skade commented on #780
Opened PRs for the last pages, we should be able to remove skeletons over this weekend \o/.

There's a few outstanding issues, but they were there before.

[2019-05-25 16:43] pietroalbini opened #811 "[meta] Tracking issue for standardizing rows CSS"
At the moment every page that needs content in multiple columns uses a bunch of copy-pasted tachyons classes, making the style inconsistent and hard to update. There is a new `.row` class that provides the same styling in a consistent and correct way, and we should use it everywhere.

<details><summary>Simple row with 3 columns</summary>

[code]

</details>
<details><summary>Row with 3 columns and

[2019-05-25 20:27] dzhibas commented on #805
fix in here: https://github.com/rust-lang/www.rust-lang.org/pull/812

[2019-05-26 07:08] skade commented on #811
A first implementation is in #3616df4a1bbb9c55e0eb14c6dea65f52c1c6e50f that can be reintroduced.

[2019-05-26 14:08] mitsuhiko commented on #423
Ran into this as well trying to look up windows instructions for my windows vm from my host mac.

[2019-05-26 14:13] eignnx opened #814 "Possible Typo on Code of Conduct Page"
# Content Bug Report

## Page(s) Affected
https://www.rust-lang.org/policies/code-of-conduct

## What needs to be fixed?
On the second-to-last sentence of the page:

Are we sure we want to be asking people to mention *their own* moderation policy? It seems like this should be either:

1. > . . . consider explicitly mentioning **our** moderation policy . . .
1. > . . . consider explicitly mentionin

[2019-05-26 15:04] skade commented on #814
To my reading, yes, that's the intention. People should set up their own moderation policy and link to it if they are using our Code of Conduct. Moderation policies are much more custom and ours is very much based on the project structure.

[2019-05-26 19:27] skade commented on #814
I'll assign @Manishearth, you're part of mods and I think I'd be best to have a native speaker review this :).

[2019-05-26 19:39] Manishearth commented on #814
I'm not a moderator anymore, but yes, @skade is correct. The current moderation policy is specific to things managed by the Rust moderation teams. These teams do not moderate random projects that choose to adopt the Rust CoC :smile:

A recurring problem with code of conducts is that people use a well-known one but neglect to write down a moderation policy, which means that when there are issues pe

[2019-05-26 19:39] #814 closed

[2019-05-26 21:01] eignnx commented on #798
@Manishearth pulling these email addrs into `core.ftl` (based on [this review](https://github.com/rust-lang/www.rust-lang.org/pull/813#discussion_r287607371)) and it often requires two message-variables: one for the anchor tag in core.ftl, and one for the translation text that ought to be located in the original FTL file. This is kinda cumbersome.

What if we just keep the anchor tag and text in t

[2019-05-26 21:15] eignnx commented on #798
That doesn't apply in all cases, but if the link is like:
[code]
it makes more sense to just gonna extract the href to core.ftl as opposed to:

[code]

[code]

[2019-05-26 21:17] Manishearth commented on #798
Oh, no, that won't work with the fallback.

We can use textparam for this. For now just move the link wholesale into core.ftl, I'll deal with it later.

[2019-05-26 21:18] Manishearth commented on #798
Wait, you don't need to do that.

[code]

[2019-05-26 21:20] eignnx commented on #798
Clarification: this isn't about `{{baseurl}}` needing to use `#textparam`

[2019-05-26 21:21] eignnx commented on #798
Yep, that's what I'm suggesting in this case

[2019-05-26 21:22] Manishearth commented on #798
Yeah, do that.

`core.ftl` should not reference anything outside of it (otherwise fallback won't work)

[2019-05-27 16:32] eignnx commented on #798
@Manishearth are you worried at all about giant merge conflicts when i18n merges into master? I'm looking at #780 PRs (like some of the class additions to `h3` and `img` tags in #806) and it kinda looks like we might have a lot to do. Luckily, the Embedded page hasn't been i18n-ified yet; is there a way we can merge @skade 's CSS changes into i18n *before* localizing the Embedded page?

[2019-05-27 16:35] Manishearth commented on #798
I'm periodically merging back and forth. All the current work (except maybe policies) has merged already.

Good catch! We can merge the PRs into our branch early, or we can start work on those last. I'll also start reviewing those.

[2019-05-27 16:37] Manishearth commented on #798
I approved it, if you're going to start on embedded make sure to base your changes on that. I plan to merge after I get home (and I'll then sync with the i18n branch)

[2019-05-27 21:12] eignnx commented on #798
@Manishearth Now working on `embedded.ftl`

[2019-05-27 21:35] #805 closed

[2019-05-28 18:13] eignnx commented on #798
@Manishearth Now working on `wasm.ftl`

[2019-05-28 18:14] Manishearth commented on #798
I might look at networking

[2019-05-28 19:24] eignnx commented on #798
@Manishearth I'm gonna do the 404 page real quick, I'll put it in `404.ftl`

[2019-05-28 19:29] Manishearth commented on #798
Alright, but let's not translate the 500 page.

[2019-05-28 19:29] #798 closed

[2019-05-28 20:26] eignnx opened #827 "`cargo watch` Constantly Recompiles"
# Technical Bug Report
## Your Environment
| Software         | Version(s) |
|-------------------|--------------|
| (@eignnx) Ubuntu | 16.04 |
| (@madmalik) MacOS | 10.14.3 Mojave |
| cargo-watch | 7.2.1 |
| Form Factor      | Desktop |

## Is this an issue with Rust, CSS, or HTML (or a combination)?
Issue with `cargo watch`

## Expected Behavior
`cargo watch -x run` ought to recompile only when a

[2019-05-28 20:57] #539 closed

[2019-05-28 21:33] #452 closed

[2019-05-28 21:35] skade commented on #183
Superseded by #780

[2019-05-28 21:35] #183 closed

[2019-05-28 21:37] skade commented on #319
Closed via #768

[2019-05-28 21:37] #319 closed

[2019-05-28 21:43] skade commented on #45
We don't use NPM, but we enforce style checks on the Rust side :).

[2019-05-28 21:43] #45 closed

[2019-05-28 21:45] skade commented on #235
Content: CTA are tracked here. Tachyons migration is done.

https://github.com/rust-lang/www.rust-lang.org/issues/351

[2019-05-28 21:45] #235 closed

[2019-05-28 21:46] skade commented on #232
Tachyons migration is done, as well as responsive styling.

[2019-05-28 21:46] #232 closed

[2019-05-28 21:47] skade commented on #231
Migrated to Tachyons

[2019-05-28 21:47] #231 closed

[2019-05-28 21:47] skade commented on #230
Migrated to Tachyons, along with responsive styling.

[2019-05-28 21:47] #230 closed

[2019-05-28 21:47] skade commented on #229
Migrated to Tachyons, along with responsive styling.

Syntax highlighting is tracked here: https://github.com/rust-lang/www.rust-lang.org/issues/349

[2019-05-28 21:48] #229 closed

[2019-05-28 21:48] skade commented on #228
Migrated to Tachyons, along with mobile adjustments.

[2019-05-28 21:48] #228 closed

[2019-05-29 08:22] skade opened #830 "Images on WASM page are a little too small"
# Content Bug Report

## Page(s) Affected
https://www.rust-lang.org/what/wasm#get_started

## What needs to be fixed?
The images and items are correctly aligned, but the images are a little too small on desktops.

## Suggested Improvement
Make images a little bigger.

[2019-05-29 08:24] skade commented on #604
Fixed by skeleton removal, tiny followup here: https://github.com/rust-lang/www.rust-lang.org/issues/830

[2019-05-29 08:24] #604 closed

[2019-05-29 19:05] skade commented on #455
I'll close this issue as being a little to broad and sprawling. I appreciate the issue though.

Thanks for raising it and we will definitely consider that when having the page in place for a design review.

[2019-05-29 19:05] #455 closed

[2019-05-29 19:11] skade commented on #589
Hi, I'll close this issue. @3442853561 - please feel encouraged to open PRs giving your experience to the TRANSLATIONS.md file!

[2019-05-29 19:11] #589 closed

[2019-05-29 19:15] skade commented on #707
@tatsuya6502 Please see https://github.com/rust-lang/www.rust-lang.org/blob/master/TRANSLATIONS.md for informations on how to get a translation team registered and your translations transferred to the page.

[2019-05-29 19:29] skade commented on #478
Decided to leave this one open instead of other ones on that subject.

[2019-05-29 19:33] #429 closed

[2019-05-29 19:47] skade commented on #524
Closing in favor of #772

[2019-05-29 19:47] #524 closed

[2019-05-29 19:48] Manishearth commented on #827
Yeah the webapp adds some files to static/styles (these are gitignored already though) when run

[2019-05-29 20:03] skade commented on #342
Writing down the tasks again for newcomers:

* [ ] Add `You can purchase a <a href="https://nostarch.com/Rust">dead-tree copy from NoStarch` to the Learn page
* [ ] Add `an ever-growing list of books is available to buy from multiple publishers` to the learn page

[2019-05-29 20:10] skade opened #838 "Rework all code examples"
# Content Feature Request
## Summary
We should rework all code examples. The following rules should apply:

* If possible, a code example should be easily importable and runnable from the playground
* If that doesn't make sense (e.g. in the case of a webserver), we should provide a downloadable project to get started
* Code examples should only use libraries that work on stable
* If at all possibl

[2019-05-29 22:52] skade commented on #838
Issue for playground examples: https://github.com/rust-lang/www.rust-lang.org/issues/523

[2019-05-29 22:53] #523 closed

[2019-05-29 23:04] skade commented on #219
Outstanding issues:

* [ ] "It looks like you're writing an Iterator." -> change text
* [ ] Link "docs.rs" inline
* [ ] Change rustdoc button give info about rustdoc
* [ ] Add debugging/profiling content
* [ ] "Cargo Doc" -> "Rustdoc"

* [ ] Stretch goal: Rustfmt and Clippy should link to informative pages/web site rather than there repos, or at the very least to a specific 'getting started'/overv

[2019-05-30 11:56] skade commented on #827
Hm, updated cargo-watch to 7.2.1, ran a full git clean and it works for me.

[2019-05-30 21:19] spastorino opened #843 "Link forge from the website"
Forge has a lot of documented procedures that are very handy. Would be great to link it somewhere from the main site. I guess somewhere in the community section.

/cc @nikomatsakis

[2019-05-31 06:18] tatsuya6502 commented on #707
@skade Thank you for integrating pontoon/fluent-rs to Rust website. I followed the information on the guideline and sent an email with a list of the initial team members. Please check the email and create our team on pontoon. Thanks!

[2019-05-31 06:26] Manishearth commented on #707
Your team has already been created, it seems. You're marked as the manager for the japanese locale. Feel free to make other people managers.

As a manager all your edits get automatically approved, please make sure you click the gear in the translations interface and enable suggestions mode before adding translations.

[2019-05-31 06:33] tatsuya6502 commented on #707
Thank you for checking about my team.

Thanks for the heads up. We will try to remember to enable suggestions mode.

[2019-05-31 08:35] skade commented on #758
This is fixed by #831, #764 is the tracking issue for syntax highlighting.

[2019-05-31 08:35] #758 closed

[2019-05-31 08:52] skade commented on #707
I'll close this issue here, thank you all for being on board! \o/

[2019-05-31 08:52] #707 closed

[2019-05-31 10:05] skade commented on #780
I posted a final PR here. Thanks @dzhibas @yayoc @Pjb518 @wizofe @eatrero @andirotter

[2019-05-31 10:29] PieterPenninckx opened #846 "Site refers to 2018 roadmap while 2019 roadmap has been published."
# Content Bug Report

## Page(s) Affected
https://www.rust-lang.org/governance

## What needs to be fixed?
The page refers to the 2018 roadmap while the 2019 roadmap has already been published.

[2019-05-31 10:29] PieterPenninckx commented on #846
I'm working on this.

[2019-05-31 11:42] #846 closed

[2019-05-31 15:04] madmalik commented on #827
Works flawlessly for me now!

[2019-05-31 16:49] #638 closed

[2019-05-31 20:39] nikomatsakis commented on #843
I'm not sure where, but it's definitely true that many contributors have no idea forge exists

[2019-06-01 21:18] yavrib opened #848 "Link to public key on security page is broken"
# Content Bug Report

## Page(s) Affected
Please list the page or pages this bug is present on. Please file one issue
for each bug you find. Only file an issue for a multi-page bug if the bug is
indeed the *same* bug, across the pages.

## What needs to be fixed?
Tell us what content is causing the issue and *how* it is causing the issue.
For example, "The code sample was confusing because it used

[2019-06-01 21:22] #848 closed

[2019-06-02 14:50] kennytm opened #851 "Image title contains a `<span>`"
# Design Bug Report

## Page(s) Affected

The front page of www-staging (both http://www-staging.rust-lang.org/ and http://www-staging.rust-lang.org/tr)

## What needs to be fixed?

The "title" text of the Twitter, Discord and GitHub icon under Social section contains a literal `<span>` tag.

<img width="373" alt="Screenshot 2019-06-02 at 22 43 56-fs8" src="https://user-images.githubusercontent.co

[2019-06-02 15:00] skade commented on #755
Confirmed: Fira doesn't render characters necessary for the Turkish translation.

[2019-06-02 15:04] eignnx commented on #827
Works for me too! Could we update the README to ensure new contributors don't download the wrong version?

[2019-06-02 15:22] #851 closed

[2019-06-03 07:58] skade commented on #843
The planned Contribution page (https://github.com/rust-lang/www.rust-lang.org/issues/440) would be a good place.

[2019-06-05 16:23] skade opened #858 "Fix Alfa Sans One"
# Content Bug Report

## Page(s) Affected
Alfa Sans One currently doesn't render correctly in the turkish locale. Alfa Sans is our headline font.

https://rust-lang.org/tr/governance

Is a good example.

## What needs to be fixed?
Replace the current font files by new ones with the full latin-ext field and make sure it works.

[2019-06-05 16:36] skade commented on #755
Wrong, Fira renders correctly, our headlines are in Alfa Sans, see #858

[2019-06-05 23:04] Manishearth opened #863 "Figure out UI for translated policies and quotes"
Translated policies are not the canonical source, and should have a banner saying that the official policy is the English one (linking to it).

Similarly, translated quotes are not real quotes. It's useful to have them be translated, but there should be some indication that they're not the original text.

Some kind of mini banner would be nice. I'm not precisely sure what the UI would look like he

[2019-06-05 23:11] Manishearth commented on #863
If someone can figure out the UI and make a PR adding it in English to one policy page and one quote without dealing with translations at all, I can make it work so that it works everywhere and is translatable.

[2019-06-06 02:14] mb64 opened #864 "docs.rust-lang.org 404 search is broken"
(I'm not sure where to submit a bug report for doc.rust-lang.org; if there is a better place please correct me.)

On the 404 page for doc.rust-lang.org, the "Search the standard library" form directs to `std/...`, meaning that if the not found URL contains a slash, it will direct to the wrong site, and get another 404 page.

For example, on [https://doc.rust-lang.org/does-not-exist/](https://doc.r

[2019-06-06 02:14] Manishearth commented on #864
Not the right repo, but it's fine

cc @rust-lang/docs

[2019-06-06 10:37] madmalik opened #867 "[Meta] Font system rework"
# Rework of the font system

## Summery
There are numerous problems with the typography on the site. Imo, we should zoom a little bit out and rethink it in context rather than working on them separately. My goal with this issue is to summarise the problems, give a little bit of context and propose a direction forward.

Ideally this could lead to a high level discussion and explicit reasoning for t

[2019-06-06 15:21] skade commented on #867
I'd like to note that https://fonts.google.com/specimen/Alfa+Slab+One works fine with the turkish sentences that we use. Still, Alfa is not available for many scripts that might be upcoming, e.g. chinese characters, so we need an alternative there.

Fire GO could, to my reading, also be split into multiple files and loaded with the current system only on need.

[2019-06-06 15:22] Manishearth commented on #867
I'm totally okay picking different fonts based on language, btw. CSS is pretty good at letting you do this.

[2019-06-06 15:23] skade commented on #867
Right, that's what I wanted to imply, sorry for being unclear.

[2019-06-06 20:04] madmalik commented on #867
Splitting Fira Go into multiple fonts and loading on demand is good idea i hadn't thought about :D

[2019-06-06 20:25] skade commented on #867
There's infrastructure for that there in the css and @chriskrycho had built it, I just don't know what the whole toolchain behind it was (e.g. for splitting the fonts).

[2019-06-06 20:41] chriskrycho commented on #867
IIRC we just subset them using FontSquirrel? The license should allow that, and I’ve done it with good success for other similar projects before. Downside is it’s not trivially automatable if adding new languages.

(Aside: I 100% affirm the direction outlined in the original post. I executed on the design as it existed when I came on to help with the launch late in the game but would have made ver

[2019-06-07 08:04] skade commented on #867
@chriskrycho The license is not the problem. My question was more if there's some automated tooling to split into `{font}.latin-ext` and such.

[2019-06-07 13:33] steveklabnik commented on #864
It's somewhere in https://github.com/rust-lang/rust/tree/master/src/librustdoc

[2019-06-07 14:19] Manishearth commented on #867
Why do we need to split fonts? It's fine to ship a combined font that deals with all the Latin-based scripts -- just pick one that supports everything.

We will need to pick different fonts for languages that use entirely different scripts. Browsers are pretty good at loading only the parts of fonts that are needed for the page.

I feel like splitting fonts is a bit of overkill here.

[2019-06-07 16:06] skade commented on #867
@Manishearth With Alfa, I'd agree, but Fira GO is Nokia Here's international extension of Fira and brings a lot of international glyphs for foreign scripts. It weights 300k+. I agree that `latin` vs. `latin-ext` is probably not the problem here (but currently exists), but it has a arabic and similar.

https://bboxtype.com/typefaces/FiraGO/#!layout=specimen

[2019-06-07 17:42] ollie27 commented on #864
The file is https://github.com/rust-lang/rust/blob/master/src/doc/not_found.md.

[2019-06-08 17:20] Manishearth opened #869 "Support RTL languages"
We have Fluent support for localizing the website, but I suspect the website would look terrible for any RTL language.

CSS is powerful enough that we should be able to do this _just_ using CSS (i.e, we shouldn't have to generate different per-language layouts, we generate the same layout with different CSS being applied).

One way to start is to generate a testing localization like `xx-AU` that's

[2019-06-09 14:31] YasirAsiri commented on #869
I can help with Arabic

[2019-06-09 14:33] Manishearth commented on #869
@YasirAsiri For actually translating things you'd have to form a team (https://github.com/rust-lang/www.rust-lang.org/blob/master/TRANSLATIONS.md).

This issue is more about the technical changes to the design necessary to make RTL languages work. But having a significant portion of the website already translated would be nice.

[2019-06-09 14:34] Manishearth commented on #869
Also, make sure you're on the same page about which kind of Arabic. Preferably Modern Standard Arabic if possible.

[2019-06-09 14:55] YasirAsiri commented on #869
@Manishearth Alright, I will see if I can form the team soon

[2019-06-09 16:45] skade commented on #869
@yasirAsiri It is still perfectly fine to use arabic for experimentation/validation, to be clear.

[2019-06-09 16:51] Manishearth commented on #869
Yeah, what I can do is set up an `xx-LTR` language on Pontoon for testing, and you can start translating things yourself. Alternatively if you can find three people you can set up a real team for Arabic.

[2019-06-10 16:27] QuietMisdreavus commented on #864
Duplicate of https://github.com/rust-lang/rust/issues/54952. Also see discussion in https://github.com/rust-lang/rust/pull/55188, which tried to fix this but uncovered an issue with the approach.

The 404 page for doc.rust-lang.org is not handled by rustdoc - it's set by the site itself. As for team ownership, rustdoc team is fine, since it's interfacing with the search functionality of rustdoc ou

[2019-06-10 17:12] Manishearth commented on #864
closing as dupe

[2019-06-10 17:12] #864 closed

[2019-06-10 21:12] kennytm opened #875 "Use Noto Sans SC/TC in additional to Alfa Sans One on Chinese site (and choose suitable fonts for other scripts too)"
# Design Feature Request
## Summary

Embed and use **Noto Sans SC** for the section header font in the Simplified Chinese site, and **Noto Sans TC** for the Traditional Chinese site.

## Motivation

Currently the header font is "Alfa Slab One", which is a slab-serif font. The header font fallbacks to the default "serif" font at weight = 300 (inherited from Skeleton). Since "Alfa Slab One" is a ver

[2019-06-11 07:13] skade commented on #875
We can recreate the stylesheet and cut out 119 fonts ourselves. That at least keeps the process stable.

[2019-06-11 07:41] skade commented on #830
Fixed by #874

[2019-06-11 07:41] #830 closed

[2019-06-19 12:26] Julian-Wollersberger commented on #799
Is there a place for language-specific diskussions?
For example, in German "you" can either be translated to an informal "du" or a formal "Sie". It is important to get this consistent across the site.
Some sort of discussion and resulting guidelines would be helpful for all languages.

[2019-06-19 13:46] skade commented on #799
@Julian-Wollersberger We're thinking about a place to set those up, in the meantime, feel free to use #website in the rust-lang discord for that. (Or discussion what a solution would be)

[2019-06-19 22:04] pietroalbini opened #880 ""Team leader" text missing from teams pages"
# Content Bug Report

## Page(s) Affected

* https://www.rust-lang.org/governance/teams/crates-io
* https://www.rust-lang.org/governance/teams/operations

## What needs to be fixed?

The "Team leader" text is missing, being replaced with an empty div instead:

[code]

The text seems to be in the translations files but it's wrongly included:

https://github.com/rust-lang/www.rust-lang.org/blob/8ba4

[2019-06-19 22:38] #880 closed

[2019-06-22 08:04] crlf0710 opened #884 "Automatic language switch?"
I think it should automatically language switch to tr/zh-CN on first landing, but currently it doesn't.

[2019-06-22 14:50] Manishearth commented on #884
I'm not sure if we should, I'd like URLs to remain static. I've heard complaints about automatic language selection before, too.

[2019-06-25 23:01] renyuneyun opened #887 "Possible places for unified Chinese translation?"
# Technical Feature Request
## Summary

Is there any willing to make a unified Chinese translation effort + small amount of annotations for varients (like what Wikipedia does)? (There is an FLOSS library called [OpenCC](https://github.com/BYVoid/OpenCC) to automatically convert between different varients. There is also [a rust binding](https://github.com/messense/opencc-rs).)
Is there any possibil

[2019-06-25 23:08] Manishearth commented on #887
Note that the website will already fall back, e.g there's tons of simplified chinese on http://www-staging.rust-lang.org/zh-TW where it's untranslated.

I feel like Pontoon integration here may be challenging. One potential idea is to autogenerate the zh-* locale with OpenCC and maintain a separate file with the divergences (which gets merged in to the autogenerated file). The divergences file is

[2019-06-25 23:42] wezm commented on #742
Going to +1 this of sorts. The community mailing list gets handful of emails every month from folks seeking technical help. Typically the response is to point them at the users forum, Reddit, and Discord. In the footer of the site we have:

Which makes at least makes the users forum a prominent option for help. However on the [community page](https://github.com/rust-lang/www.rust-lang.org/blob/5ac

[2019-06-26 12:44] skade commented on #884
I would avoid an automatic language switch. There's a _ton_ of work involved there.

* Do you detect locale or browser signalling?
* How do you store preference if someone switches back?
* Locale settings in browsers are often wrong, confusing travelling users

As we're talking about a single-language website, every document has a clearly defined locale. What we could do is present a banner if the

[2019-06-26 15:24] travisboss commented on #621
I think instead of black as outer space will allow simply going with `background-color: hsl(0, 0%, 19%);` would move to a gray look which is not all bad.  I can make a PR on this if we all agree.

I have attached a screenshot.
![www rust-lang org_footer](https://user-images.githubusercontent.com/16948721/60193041-993d6080-97fc-11e9-9476-99e2c010170e.png)

[2019-06-26 15:45] skade commented on #621
@travisboss This looks useful! Could you open that as a PR so that we can try it out?

[2019-06-26 16:08] travisboss commented on #621
Sure!

[2019-06-30 23:38] tigercosmos commented on #887
I disagree with such a rough way for translation. Terms, words, phrases, tones and any other matter about the language itself are used very differently by different regions or groups of people. Even for TCs, the version of TW and of HK are not the same.

[2019-07-01 00:04] tigercosmos commented on #887
I think the fallback mechanism is great, just like Wikipedia, but I don't know if it works.

For the experience by @rust-tw translation, we translated directly from English and only sometimes refer the SC version, and the difference of result between TC and SC looks very different.

For example (from the `governance` page):
[code]
<detail>

As you can  see, terms, words, phrases, tones and any oth

[2019-07-01 02:04] wusyong commented on #887
I think it can be this way(OpenCC you proposed) if rust is going to translate documentations in the future. People can tolerate those difference when their goals are to learning and grabbing know-hows. The website is for promotion, hence it could be more localized.

[2019-07-01 09:33] vitali2y opened #893 "To add "Copy to clipboard" feature"
# Technical Feature Request
## Summary
To add "_Copy to clipboard_" feature (as on almost every "_the book_”' example) to practical commands mentioned on site (like [here](https://github.com/rust-lang/www.rust-lang.org/blob/master/templates/components/tools/rustup.hbs#L4)).

## Motivation
Having "_Copy to clipboard_" icon right behind any practical command will improve UX interaction between the u

[2019-07-02 10:29] upsuper commented on #887
I agree with @wusyong that website and similar stuff is better translated manually by local teams, because different places can have different idioms. So I don't think we should apply the auto conversion for website.

Larger technical documentations can benefit more from having combined effort with auto conversion. Tutorials would be something less clear, though.

That said, I guess Pontoon was in

[2019-07-04 03:57] tigercosmos commented on #875
I think `zh-TW` encounters the same issue.

[2019-07-04 04:05] irvin commented on #875
If we don't go with custom font for non-western locale, at least we can allocate sans-serif as fallback?

[2019-07-04 16:58] skade commented on #875
@irvin I would actually like to go with a different font, we mainly need patches for reworking all the fonts.

[2019-07-08 21:24] nikomatsakis opened #900 "anchors for the teams and working groups on governance page"
# Technical Feature Request
## Summary
Add some kind of HTML anchor to permit linking directly to a working group from governance pages.

## Motivation
I would like to link directly to the wg-triage team found on [the operations team page](https://www.rust-lang.org/governance/teams/operations), but I cannot! I would like to be able to do `https://www.rust-lang.org/governance/teams/operations#wg-tr

[2019-07-08 22:07] pietroalbini commented on #900
Well, the link you posted [already works](https://www.rust-lang.org/governance/teams/operations#wg-triage). We should probably add a way to retrieve it from the page though.

[2019-07-10 14:51] renyuneyun commented on #887
@Manishearth It deals with non 1-1 mappings, but I don't know the technical details (a word segmenter & mapping table?). Based on my personal experience, the accuracy is very high (but the context may be different).

------

I agree documents like manuals can benefit more from this kind of efforts. But I also don't think the website will benefit significantly less, even if considering the promotio

[2019-07-10 15:49] renyuneyun commented on #887
@tigercosmos Have you ever considered the difference is because they are translated **by different people**, rather than the difference between regional wording?

For your example, from my perspective, most "different" words can be used interchangeably. And neither reads perfectly from my perspective. Therefore, it actually shows the potential benefit (just like wikipedia does) to bring the best f

[2019-07-11 00:52] dtolnay opened #901 "Wrong Rust logo in social media images"
# Content Bug Report

## Page(s) Affected

Facebook, LinkedIn, all platforms that display social images based on \<meta>.

## What needs to be fixed?

The images in https://github.com/rust-lang/www.rust-lang.org/issues/181 are not the current Rust logo. Notice that the screenshots in the last comment have sharp spikes and a flat segment parallel to the circumference. The logo is supposed to have w

[2019-07-11 04:33] travisboss commented on #900
For an ideas maybe something like [this](https://www.quackit.com/css/codes/css_floating_menu.cfm)?
Have a floating menu that can take you to different sections on each page?

[2019-07-11 13:44] tigercosmos commented on #887
@renyuneyun  I agree with your point, so I support the fallback mechanism if there isn't any manual translation.

[2019-07-12 14:54] nikomatsakis commented on #900
@pietroalbini ha ok -- I didn't try it, I just expected it to be clickable or something. Should've tried it!

[2019-07-12 16:52] inscroggnito opened #903 "Get started section column/image stretching"
# Technical Bug Report
## Your Environment
| Software         | Version(s) |
| ---------------- | ---------- |
| Form Factor      | (Desktop) |
| Browser Type     | | Chrome or Safari
| Browser Version  | | Latest

## Is this an issue with Rust, CSS, or HTML (or a combination)?
Likely CSS, this appears to be a cross-browser issue in that Firefox's default handling of styles works a bit differently

[2019-07-13 06:26] uuttff8 opened #905 "[Doc] Recursive redirect"
# Content Bug Report
When I press Documentation button that is on the footer here: https://www.rust-lang.org/learn
![Screenshot 2019-07-13 at 9 23 32 AM](https://user-images.githubusercontent.com/40335671/61168049-395eed80-a550-11e9-8e86-cae79dd55426.png)

I got redirect to https://doc.rust-lang.org/ that is redirect me to https://www.rust-lang.org/learn
## Page(s) Affected
https://doc.rust-lang.o

[2019-07-15 07:13] skade commented on #905
That's a good catch. I believe the redirect is right though and the footer link should go to `/learn`.

If not, it should go to the documentation landing page.

@steveklabnik what was the most recent take on this?

[2019-07-19 17:41] bdjnk commented on #903
Hi @inscroggnito, resizing the image isn't the correct fix for this problem.

This bug is the result of changes made in PR #874 (to fix bug #830). If tachyons (the CSS toolkit) is used carefully, this problem can be resolved (without regressing on the previous one).

I will submit a PR which does so soon and link it here.

[2019-07-25 15:45] #903 closed

[2019-07-26 19:17] fbstj opened #910 "it would be cute if there was a "team" page for all the 'officla' tools/bots"
since there's now quite a few robots involved in the rust development process, it would be useful if there were an overview of the "team" (lead by the venerable @bors).

[2019-07-27 23:00] Aaron1011 opened #912 "Standard library docs are below the fold"
# Design Feature Request
## Summary

The [Learn Rust](https://www.rust-lang.org/learn) should display a link to the standard library docs above the fold - that is, immediately visible to the user when the page loads. Currently, the standard library docs link is below the fold, requiring the user to scroll down to view it.

## Motivation

The standard library docs are a core part of 'Get(ting) star

[2019-07-30 12:55] skade commented on #910
@pietroalbini can we add the bots to the teams repository?

[2019-07-30 12:56] pietroalbini commented on #910
I don't see why not. We'll need to create a dummy "bots" team on it.

[2019-07-30 12:57] skade commented on #910
@fbstj want to make a pull request to https://github.com/rust-lang/teams then?

[2019-08-01 08:35] skade opened #914 "Link timetill.rs from the community page"
# Content Feature Request
## Summary
Find a good place to link timetill.rs

## Motivation
timetill.rs is a maintained website showing dates of conferences and their CFP dates.

## Drawbacks
timetill.rs might go out of maintenance. In that case, we can remove the link.

[2019-08-01 14:42] #780 closed

[2019-08-01 14:42] skade commented on #780
Done.

[2019-08-05 07:12] XAMPPRocky commented on #914
In regards to maintenance, I have designed timetill.rs to be easily passively maintained. New conferences are added through a JSON file anyone can submit PR with containing their event. The site is hosted on GitHub Pages so the only thing that I need to actively ensure doesn't expire is the domain.

As to where to put it on the website, The events subsection on the community page seems appropriate

[2019-08-05 07:24] skade commented on #914
Uh, we need to patch the lineup page. The dates are known and Rust.Tokyo isn't there.
________________________________
From: XAMPPRocky <notifications@github.com>
Sent: Monday, August 5, 2019 9:12 AM
To: rust-lang/www.rust-lang.org <www.rust-lang.org@noreply.github.com>
Cc: Florian Gilcher <florian.gilcher@asquera.de>; Author <author@noreply.github.com>
Subject: Re: [rust-lang/www.rust-lang.org] L

[2019-08-16 13:27] FrostbittenKing commented on #470
Not to mention in serious topics like coding this gender identity politics bollocks has no place, in my opinion. If someone cares about that in software development, he/she/it should btfo. I don't need people that get emotional about that stuff. I don't care if they are male female, or trans (no i won't list gay here, because that is a sexual orientation and no gender identity - which is a complet

[2019-08-16 13:49] skade commented on #470
Note for everyone who ventures here: the reasons this issue is locked is because it irregularly receives insulting spam.

The reasons why Ferris gender/pronoun is mentioned on the page is plain and simple: people ask us that question, we answer the question. It's an information page after all.

[2019-08-19 13:56] nagisa opened #917 "Do not parse filename into `String` in CLI example"
# Content Bug Report

## Page(s) Affected

https://www.rust-lang.org/what/cli

## What needs to be fixed?

The example that currently reads like this:

[code]

## Suggested Improvement

`file` should be `PathBuf` or `OsString`.

[2019-08-19 15:08] wyze opened #918 "Buttons in `Where to talk` section on the Community page are not aligned"
# Design Bug Report

## Page(s) Affected
Buttons in the `Where to talk` section on the community page are not aligned. They should be either top aligned or bottom aligned. Seems previously in #551 it was requested to be top-aligned. Looks like a combo of #793 and #872 caused the alignment to be off.

## What needs to be fixed?
To top align the buttons, we would just remove the `flex-grow-1` on the

[2019-08-19 16:59] tshepang commented on #917
I'd go as far as calling the binding `path`, for I like reserving the name `file` for the handle itself (`let file = File::open...`)

[2019-09-06 14:09] travisboss commented on #808
@skade can this me marked closed?

[2019-09-18 10:02] andrewchambers commented on #662
Could someone tell me where to find a source tarball? The forge website doesn't have an index or a working link to a release tarball. This is basic and critical infrastructure.

[2019-09-18 17:44] #914 closed

[2019-10-02 01:30] Maxgy opened #926 "Code example overflow on Networking page"
# Design Bug Report

## Page(s) Affected
[Networking](https://www.rust-lang.org/what/networking)

## What needs to be fixed?
Code examples in Get Started section of the Networking page

## Suggested Improvement
Make it so that the code wraps instead of overflowing the page.

Desktop:
![image](https://user-images.githubusercontent.com/54848917/66011651-feef5780-e491-11e9-9807-092969b2df13.png)
Mobi

[2019-10-02 19:17] simonxabris commented on #926
Hey

Came across this issue and tried to fix it and after a couple tries managed to get it to look like this:
<img width="1440" alt="Képernyőfotó 2019-10-02 - 21 08 25" src="https://user-images.githubusercontent.com/27497229/66074384-658b7880-e559-11e9-8904-f886786aa211.png">

Instead of what it looks like on the live site. The problem is that you have a `white-space: no-wrap` rule on the `<cod

[2019-10-03 12:39] Mannshoch opened #928 "Add a flat list of next events"
# Design Feature Request
## Summary
Embeding the Calendar is a nice tool. But it does not look good If you have only on event per Month. In such case It would be better to have a flat list of the next events.

_Lower Priority:_
Also there is a need for a Link addition to choose the Calendar appearance.

e.g actual.
https://EXAMPLE.COM/index.php/apps/calendar/embed/123456789abc
shows a Monthly cale

[2019-10-08 10:19] greggman commented on #926
This isn't just the networking page. I'm guessing it's all pages. I thought I'd try to learn rust today only to find that the examples are unreadable

<img width="1045" alt="Screen Shot 2019-10-08 at 19 17 08" src="https://user-images.githubusercontent.com/234804/66388142-77a96300-ea00-11e9-8d40-43bb40434745.png">

[2019-10-14 18:38] clayheaton opened #933 "Code blocks in "get started" examples ignore line breaks"
# Design Bug Report

## Page(s) Affected
https://www.rust-lang.org/learn/get-started

## What needs to be fixed?
The code examples are formatted incorrectly. Line breaks in the code blocks are ignored.

Here's an example screenshot from the page mentioned above, taken on Chrome on MacOS on 14 October 2019.

![Screen Shot 2019-10-14 at 2 33 11 PM](https://user-images.githubusercontent.com/205364/66

[2019-10-15 05:56] wezm commented on #933
I think this is a duplicate of #926 which should be fixed by #932.

[2019-10-18 20:06] technic opened #935 "LLVM acknowledgement"
# LLVM acknowledgement
## Summary
Add reference to LLVM backend on the front page, because it helps to do the dirty machine code job behind the curtains.

I opened [this thread](https://internals.rust-lang.org/t/llvm-acknowledgement/11065) on rust discussions forum, but I was suggested to redirect it here.

## Motivation
I enjoy programming in Rust due to its safety and performance. However, I am

[2019-10-19 09:54] Centril commented on #935
I think whatever wording we add, it should not imply that Rust is a LLVM frontend (precisely for the reason that we want to add more backends and because e.g. things that are not UB in LLVM may be UB in Rust).

[2019-10-19 17:50] mjbshaw commented on #935
I concur with @Centril. It's great to thank/acknowledge Rust's many contributors (both direct and indirect). But:

- Rust (the language) has no connection to LLVM. The reference implementation (`rustc`) uses LLVM, but that's an implementation detail (and LLVM won't always be the backend).
- I'm not sure there's much value in name-dropping LLVM like Julia and Swift, especially on the home page.
- O

[2019-10-19 20:59] technic commented on #935
It would be great to see another implementations, but if I click download and install rustup I get the only one.  We may want to separate the idea of safe semantics introduced in rust and the implementation details of low-level optimizations, but it is more fair to tell people what they get.

In terms of performance and target platform support, there are certain differences in what clang and gcc c

[2019-10-20 15:15] gnzlbg commented on #935
If you run Rust code under miri or using a REPL, LLVM is not used at all. You can also compile some Rust code with Cranelift instead of LLVM using the Cranelift backend already. So there are at least ~3-4 ways of executing Rust code right now, where one uses LLVM. Since the method that uses LLVM is the default and most common way of running Rust programs, the website should probably acknowledge th

[2019-10-21 09:08] skade commented on #935
I'm sympathetic to handing out credit where credit is due. But, and that's crucial: rust-lang.org is the Rust languages and projects website, not its implementation and not rustc. Effectively, both are one and the same.

Looking carefully, both Swift and Julia use LLVM somewhat for the advertising value. As we're not in any way fixed for using LLVM, I would not pull in LLVM so visibly.

That is no

[2019-10-24 00:53] dashaw92 opened #938 "Wrong Firefox logo"
# Content Bug Report

## Page(s) Affected
[https://www.rust-lang.org/what/networking](https://www.rust-lang.org/what/networking)
[https://www.rust-lang.org/what/wasm](https://www.rust-lang.org/what/wasm)
(any page `static/images/firefox.png` is referenced)

## What needs to be fixed?
Update the logo used to reflect the current branding for Firefox. A full size image download can be found at [https

[2019-10-30 23:00] merkrafter commented on #799
@skade Is there any solution in place yet? I also would like to provide german translations, but obviously don't want to work on something that somebody else has done in the background already.

[2019-10-31 14:19] refee opened #942 "pdf doesn't display properly in Chrome"
# Technical Bug Report
## Your Environment
| Software         | Version(s) |
| ---------------- | ---------- |
| Form Factor      | Desktop |
| Browser Type     | Google Chrome |
| Browser Version  | 77.0.3865.120 |

This unexpected behavior also appears in version 78.0.3904.70.

## Is this an issue with Rust, CSS, or HTML (or a combination)?
seems to be an issue with HTML.

REF: https://bugs.chro

[2019-10-31 14:32] refee commented on #942
Related issue:
https://github.com/webcompat/web-bugs/issues/5095
https://bugs.chromium.org/p/chromium/issues/detail?id=271452

[2019-11-05 05:21] JOE1994 opened #943 "Minor typo in explanation for `E0080` in `Rustc error index`"
# Content Bug Report

## Page(s) Affected
https://doc.rust-lang.org/error-index.html#E0080

## What needs to be fixed?
A minor grammar mistake. (Below) **'an'** needs to be changed to **'a'**.

## P.S.
Error message from **rustc 1.40.0-nightly(2477e2493 2019-11-04)** (invoked with `rustc --explain E0080`) also contains the same typo, so should I also report this issue to the [Rust repository](http

[2019-11-07 05:38] ayushmishra2005 opened #944 "New Website Logo: Knoldus Inc."
# Content Feature Request
## Summary
Want to get listed as Rust Production User

Organization name: Knoldus
Homepage url: https://www.knoldus.com
Logo url: https://bit.ly/2nIGJc0
How you are using Rust: We use Rust in [IoT Based Project] Security System Projects(Image Recognition System) and also [Networking Based Project] in Monitoring of Networking Protocols like DHCP and Active Directory.
Url d

[2019-11-07 05:47] #944 closed

[2019-11-07 15:14] refee commented on #942
The page functions normally in Chrome version 78.0.3904.97.

[2019-11-07 15:14] #942 closed

[2019-11-07 20:30] Manishearth opened #946 "Move to handlebars-fluent"
This is still somewhat WIP but I published https://github.com/manishearth/handlebars-fluent , which we should be able to use for everything except the `{{team}}` helper. It's directly based off of the i18n code I wrote for this repo.

I'm still documenting it and trying to make it more general, but it's currently in a state which we can use if we desire. Less code for this repo to maintain.

[2019-11-07 20:30] Manishearth commented on #946
I'm probably not going to do this yet, but if folks want to help out I can answer any questions you have about the crate (until I add docs)

[2019-11-08 05:50] Maxgy opened #947 "Add async book link in the Learn section?"
Now that async await syntax has hit stable Rust, it might be a good idea to link the Rust Async book with the other books in the Learn section of the website.

[2019-11-08 17:34] Manishearth commented on #938
https://github.com/rust-lang/www.rust-lang.org/pull/948#issuecomment-551920602

[2019-11-08 17:34] #938 closed

[2019-11-09 15:29] steveklabnik commented on #947
Maybe, it’s not done yet.

I’d also like to move it into the distribution, like the other books, when it’s ready.

[2019-11-12 04:31] plattrap opened #949 "'rand' version collision in "Guessing Game""
# Content Bug Report

## Page(s) Affected
https://doc.rust-lang.org/book/ch02-00-guessing-game-tutorial.html#generating-a-random-number

## What needs to be fixed?
When generating the documentation there is a conflict generating the documentation for the 'rand' package because two different versions get installed.

[code]

## Suggested Improvement
Update the version of 'rand' used.

[2019-11-13 14:25] carols10cents commented on #949
Hi, please file this issue over in [the book repo](https://github.com/rust-lang/book) and include which version of Rust you're using and the exact contents of your Cargo.toml, Cargo.lock, and src/main.rs. Thanks!

[2019-11-13 14:25] #949 closed

[2019-11-13 14:32] carols10cents opened #950 "Can't build on macOS due to libc use of `repr(packed(n))`"
# Technical Bug Report
## Your Environment
| Software         | Version(s) |
| ---------------- | ---------- |
| macOS      | 10.15.1 |
| rustc     | 1.33.0-nightly (790f4c566 2018-12-19) |

## Is this an issue with Rust, CSS, or HTML (or a combination)?

Rust/dependencies

## Expected Behavior

`cargo run` should compile and run

## Current Behavior

I get these errors from compiling libc 0.2.55:

[2019-11-13 14:36] carols10cents commented on #950
OOPS nevermind. I had an old rustup override set on that dir that was taking precedence over the version set in rust-toolchain. Now that I'm on `rustc 1.36.0-nightly (7c71bc320 2019-04-30)`, I can build.

[2019-11-13 14:36] #950 closed

[2019-11-29 18:41] lupomontero commented on #799
Hi there,

First of all: Thanks for all the great work!

I'd like to help out with the spanish translation... what's the state of this?

I noticed there is no spanish _option_ in the language selector in the top right hand corner of the website, so I started searching to see if I could help with this translation.

I followed the guidelines in [TRANSLATIONS.md](https://github.com/rust-lang/www.rust

[2019-11-29 18:45] Manishearth commented on #799
@lupomontero please edit all translations on Pontoon, they all need to be reviewed by the spanish team. You migth want to contact them for reviews.

Once it's at 100% you can ask us to enable it.

[2019-11-30 17:44] elmarstellnberger opened #953 "rustup is crap: provide releases as .tar.bz2 for offline installation"
rustup has severe problems downloading rust. Especially when I try it with tor/tails it fails: https://trac.torproject.org/projects/tor/ticket/32577. It would need to interrupt and restart downloads inactive for a certain time. Even better would be a complete availability for offline use as .tar.bz2 - as offered by any decent program or application. The downloadable .tar.bz2 should have an additio

[2019-11-30 17:53] Manishearth commented on #953
This is not the right repo for this issue, see github.com/rust-lang/rustup/

However, please also go through https://rust-lang.org/conduct.html, your title is unacceptable for this project.

We have an issue on file for signing rustup: https://github.com/rust-lang/rustup/issues/1568

[2019-11-30 17:53] #953 closed

[2019-11-30 17:57] elmarstellnberger commented on #953
signing is no panacea: you would need to keep the signing key offline; something which hardly anyone does. Providing a SHA512SUMS downloadable via tor is to my mind the best existent solution. There are inherent problems with scripts like rustup and I would suggest a way to forgo using rustup.

[2019-11-30 17:59] elmarstellnberger commented on #953
Please reopen. I´d desire some discussion about a way to avoid using rustup.

[2019-11-30 18:03] Manishearth commented on #953
Please read my comment in full: _This is not the right repo for this issue_

[2019-11-30 18:10] Manishearth commented on #953
Also, uh, we have non-rustup ways of installing things: https://forge.rust-lang.org/infra/other-installation-methods.html

[2019-11-30 18:12] elmarstellnberger commented on #953
Many thanks for this link. I must have overlooked it.

[2019-12-01 14:34] elmarstellnberger commented on #953
I can install the compiler via the .tar.gz but when I download the -src.tar.gz I lack some way to install it. How can I achieve the effect of 'rustup component add --toolchain "$(cat rust-toolchain)" rust-src' with the -src.tar.gz? - need to work offline

[2019-12-01 14:56] elmarstellnberger commented on #953
Please respond to me here as I am currently blocked from IRC. My computer can not log in for some reason.

[2019-12-01 16:02] zanedp commented on #699
I don't know what version of `cargo` I had, but `cargo new hello-rust` made a new library instead of a binary, meaning all the rest of the doc was basically wrong. When I stumbled across this "issue", I used `rustup update`, tried again, and got matching output. So, the problem extends even beyond crate incompatibilities. (I had just run `rustup-init.exe`, and it was not clear that wasn't installi

[2019-12-01 17:22] Manishearth commented on #953
Again, this is not the right repository for this issue. I don't know the answer to your question, furthermore you have been rude and demanding and I don't really have an obligation to help.

Try asking on Discord.

[2019-12-02 10:51] Y-Less opened #954 "Was given the Unix instruction not the Windows ones."
# Content Bug Report

## Page(s) Affected
https://www.rust-lang.org/tools/install

## What needs to be fixed?

Windows download link in not on the getting started page.  The website detected me as on Unix, and didn't provide any fallback option to say "no I'm not":

![image](https://user-images.githubusercontent.com/991078/69952519-a2430400-14f7-11ea-8d4f-505782bacd9a.png)

There is a "Other insta

[2019-12-02 12:28] flo-l opened #955 "Broken link on https://www.rust-lang.org/tools/install"
# Content Bug Report

## Page(s) Affected
https://www.rust-lang.org/tools/install

## What needs to be fixed?
The link `Learn More` in the section `Other installation methods` is broken.

## Suggested Improvement
well, fix the link :smile: But I don't know the correct link target.

[2019-12-02 12:29] flo-l commented on #955
OK I found it: https://forge.rust-lang.org/infra/other-installation-methods.html

[2019-12-02 13:52] steveklabnik commented on #954
What OS (with version) are you on? What browser are you using?

[2019-12-02 14:04] Y-Less commented on #954
Windows 8.1.  Waterfox 56.2.4 (64-bit)

The issue was less that the website got it wrong, and more that there's no way to correct it (which also means there's no way to download for a different computer).

I also just tested on Waterfox 2019.10 and got the same thing.

[2019-12-02 14:19] skade commented on #954
Seems like Waterfox only reports itself as Win64 and we only check for Win32.

https://github.com/rust-lang/www.rust-lang.org/blob/master/static/scripts/tools-install.js#L13-L57

I'm wondering if we're even bugged on other platforms and only saved by the fallback triggering on all major browsers.

[2019-12-02 14:21] steveklabnik commented on #954
At the bottom of the page, there's a link to https://forge.rust-lang.org/infra/other-installation-methods.html, which shows you installation instructions for all platforms. Well, it *should* link to that, but doesn't, that's https://github.com/rust-lang/www.rust-lang.org/issues/955

[2019-12-06 17:34] Manishearth opened #956 "Move to handlebars-fluent"
I've extracted _most_ of the Fluent stuff into https://github.com/manishearth/handlebars-fluent . There are some missing bits, but we should try and make it so that we can use that library instead.

[2019-12-06 17:34] #956 closed

[2019-12-06 17:35] Manishearth opened #957 "Replace {{text}} with {{fluent}}"
Prerequisite for https://github.com/rust-lang/www.rust-lang.org/issues/946, ideally. We can still use it, but we should try and follow the convention that's being created in the fluent ecosystem.

THis also would mean replacing `{{text foo}}` with `{{fluent "foo"}}`

[2019-12-06 23:47] #957 closed

[2019-12-08 01:15] spbogie opened #960 "Broken link: Command Line Book"
# Content Bug Report

## Page(s) Affected
https://www.rust-lang.org/learn
https://www.rust-lang.org/what/cli

## What needs to be fixed?
Link to the "Command Line Book" returns 404.
https://rust-lang-nursery.github.io/cli-wg/

## Suggested Improvement

[2019-12-08 01:31] Manishearth commented on #960
https://twitter.com/CliRust/status/1203320942723813376?s=19

[2019-12-08 01:31] #960 closed

[2019-12-09 09:23] pietroalbini commented on #955
There should be a redirect by now. Still, it would be nice to link to the right place from the start.

[2019-12-11 21:57] ackerman76 opened #963 "SSL cert expired, cannot install rust"
# Technical Bug Report
## Your Environment
| Software         | Version(s) |
| ---------------- | ---------- |
| Form Factor      | (Mobile/Tablet/Desktop) |
| Browser Type     | |
| Browser Version  | |

Pi 4, ARM71 Buster

## Is this an issue with Rust, CSS, or HTML (or a combination)?
Cannot install.

curl https://sh.rustup.rs -sSf | sh

curl error 60 SSL cert problem: unable to get local issue

[2019-12-11 22:11] Manishearth commented on #963
This isn't the correct place for this bug report. The certificate doesn't seem expired, have you tried updating your local root certificate store?

[2019-12-11 22:11] #963 closed

[2019-12-11 22:11] Manishearth commented on #963
You can download rustup.sh directly using a browser and run it

[2019-12-12 03:36] ackerman76 commented on #963
Yes I tried all that with no change. This is a common problem for rust and curl does not work at all; several posts in community and no clear answer.

$ sudo update-ca-certificates
$ sudo update-ca-certificates --fresh

[2019-12-12 13:44] pietroalbini commented on #963
@ackerman76 what output do you see for this command?

[code]

[2019-12-13 12:48] plumenator opened #965 "No way to get to docs for previous versions of std"
# Content Bug Report

## Page(s) Affected
https://doc.rust-lang.org/std/index.html

## What needs to be fixed?
Missing a drop down to select the version of `std`

## Suggested Improvement
Like at docs.rs, it would be great if we could switch between versions of the documentation.

[2019-12-13 16:35] Manishearth commented on #965
Please file this issue on https://github.com/rust-lang/rust, this repository does not deal with the documentation.

[2019-12-13 16:35] #965 closed

[2019-12-20 16:40] #946 closed

[2019-12-20 20:10] XAMPPRocky opened #968 "Document deployment steps"
It would be nice if how to deploy to both staging and production were documented in the README as well running the website locally.

[2019-12-20 22:02] Manishearth commented on #968
Deploys to staging are automatic and happen from master. Deploys to production can be triggered by merging PRs into the `deploy` branch from master.

[2019-12-23 18:19] linhub15 opened #969 "Difficulty identifying install button as a button (Windows)"
# Design Feature Request
## Summary
The install button is hard to identify as a clickable button (https://www.rust-lang.org/tools/install).
Should either be smaller or use a verb.

![image](https://user-images.githubusercontent.com/10420994/71372184-e95d6b80-2570-11ea-845d-5515748b3520.png)

### Using a verb
![image](https://user-images.githubusercontent.com/10420994/71373258-ca140d80-2573-11ea-92

[2019-12-26 07:46] JohnTitor commented on #926
This is fixed on the latest deployment, can be closed.

[2019-12-26 07:47] JohnTitor commented on #933
This is fixed on the latest deployment, can be closed.

[2019-12-26 21:18] Maxgy commented on #926
This bug appears to be fixed. Closing.

[2019-12-26 21:18] #926 closed

[2019-12-27 08:13] #933 closed

[2020-01-01 20:31] Michele31415 opened #973 "Trying to install rust in Solaris 11.4 SPARC"
When following the build directions on a Sun T4-1 I run

root@hemlock:~# curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
rustup: unrecognized OS type: SunOS

It says to report these values:

navigator.platform: SunOS sun4v
navigator.appVersion: 5.0 (X11)

I know *someone* has rust on Solaris 11.4 because Oracle is advertising it in their latest update.  What am I doing wrong?

[2020-01-02 01:06] Manishearth commented on #973
We support cross compiling to solaris, there are no official solaris Rust binaries: https://forge.rust-lang.org/release/platform-support.html

[2020-01-02 01:06] #973 closed

[2020-01-02 01:24] Michele31415 commented on #973
Thanks for the reply.  Forgive me if I'm being naive, but there, under Tier 2 I see
"sparcv9-sun-solaris	✓			SPARC Solaris 10/11, illumos"

Is this available, or do I have to cross-compile on say a Windows 7 machine?

[2020-01-02 01:35] Manishearth commented on #973
Look at the checkboxes next to it, we only ship stdlib binaries, which are necessary for cross compilation but are not themselves a compiler.

[2020-01-03 01:26] Michele31415 commented on #973
OK, well perhaps I was confused by the statement here (https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/Build_Instructions/Solaris_Prerequisites) that:
"OpenSolaris (and therefore also Solaris 11) can build Mozilla with a few extra packages installed:"

$ pfexec pkg install SUNWhea SUNWmercurial SUNWaudh SUNWxwinc SUNWxorg-headers SUNWgm4 SUNWgnome-common-devel SUNWcvs SUNWgmake su

[2020-01-03 01:41] Manishearth commented on #973
Yes, solaris might package rust, and you may be able to install it through
their package manager. _we_ do not provide solaris binaries in rustup.

On Fri, Jan 3, 2020, 6:56 AM Michele31415 <notifications@github.com> wrote:

[2020-01-06 04:00] eignnx opened #977 ""Licenses" page has unbound translation variable"
# Design Bug Report
**Thanks to [Luna on Twitter](https://twitter.com/smolcomputergf/status/1213905572434731009) for finding this bug!**

## Page(s) Affected
Licenses page

## What needs to be fixed?
The text should say "Apache License, Version 2.0" (as per [the translation file](https://github.com/rust-lang/www.rust-lang.org/blob/fd672b4594de5ef4049dccdec1aaa72dd74bd9f4/locales/en-US/licenses.ftl

[2020-01-06 21:32] JoanM1lev opened #980 "Issue with openindiana"
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
sh[378]: local: not found [No such file or directory]
sh[170]: local: not found [No such file or directory]
rustup: unrecognized OS type: SunOS

[2020-01-07 08:50] #977 closed

[2020-01-15 13:11] LucianoBestia opened #982 "Reddit and stackoverflow"
Why on the official page
<www.rust-lang.org/community>
there is no mention of
<www.reddit.com/r/rust/>
and
<stackoverflow.com/tags/rust/info> ?

[2020-01-15 14:09] steveklabnik commented on #982
We only link to things that are run by us, and neither of these things are.

[2020-01-15 14:09] #982 closed

[2020-01-15 19:26] senden9 opened #983 "Unknown localization at embedded example production page"
# Content Bug Report

## Page(s) Affected
https://www.rust-lang.org/what/embedded

## What needs to be fixed?
On the noted embedded page there is a example production use with the words "Unknown localization embedded-testimonials- Unknown localization embedded-testimonials-".
This can be found next to the logo of @49nord,
![Screenshot_2020-01-15 Embedded devices](https://user-images.githubusercont

[2020-01-15 19:33] senden9 commented on #983
Just saw that PR #970 addresses this.
Because i only searched open issues and no PRs I will not close this issue now.

[2020-01-15 19:41] senden9 opened #984 "Unknown localization on licenses page"
# Content Bug Report

## Page(s) Affected
https://www.rust-lang.org/policies/licenses

## What needs to be fixed?
The license page has a missing/wrong translation. We see here a "Unknown localization licenses-apache-v- ".
![image](https://user-images.githubusercontent.com/905857/72465381-61692b00-37d7-11ea-8fc8-c7ef34f9738c.png)

### Update:
I see this issue seems be fixed looking at https://githu

[2020-01-15 20:51] Manishearth commented on #984
We need to do a deploy

[2020-01-15 20:51] #984 closed

[2020-01-15 20:51] Manishearth commented on #983
We need to do a deploy

[2020-01-15 20:51] #983 closed

[2020-01-21 20:26] lislis commented on #699
Hey there! I've opened #964 which adds a paragraph about running `rustup update`. Let me know if that works

[2020-01-24 09:03] goalaleo commented on #942
I have this same issue, but I'm using Version 79.0.3945.130 (Official Build) (64-bit). There are also some CSP errors in the console
<img width="1195" alt="Screenshot 2020-01-24 10 56 20" src="https://user-images.githubusercontent.com/3275302/73056999-0dc2a580-3e99-11ea-854e-32db52818443.png">

[2020-01-25 06:35] Zexbe commented on #901
Example of correct image: https://github.com/rust-lang/www.rust-lang.org/blob/master/static/images/rust-logo-blk.svg
Example of wrong images:
https://github.com/rust-lang/www.rust-lang.org/blob/master/static/images/rust-social.jpg
https://github.com/rust-lang/www.rust-lang.org/blob/master/static/images/rust-social-wide.jpg

[2020-01-27 13:22] XAMPPRocky commented on #267
Closing this as inactive. If anyone wants to continue this I would recommend making a PR for the functionality.

[2020-01-27 13:22] #267 closed

[2020-01-31 08:07] XAMPPRocky commented on #349
This has now been implemented and deployed to rust-lang.org

[2020-01-31 08:07] #349 closed

[2020-01-31 23:52] lozh opened #999 "Linux Mint Installation"
I'm using a fresh installation of Linux Mint. I tried following the instructions on https://www.rust-lang.org/learn/get-started to get rust installed. Basic programs would fail to compile with linker errors:
` = note: /usr/bin/ld: cannot find Scrt1.o: No such file or directory
          /usr/bin/ld: cannot find crti.o: No such file or directory
          collect2: error: ld returned 1 exit status

[2020-02-01 11:54] XAMPPRocky commented on #999
@lozh Thank you for your issue! This issue tracker is only for issues that about the website itself. For issues about running the compiler, I would recommend re-opening your issue on [`rust-lang/rust`](https://github.com/rust-lang/rust).

[2020-02-01 11:54] #999 closed

[2020-02-01 12:44] XAMPPRocky commented on #458
I'm going to close this, I agree with @skade, if someone has a specific use case we can discuss that in a seperate. At the very least we should probably have pages for the new working groups.

[2020-02-01 12:44] #458 closed

[2020-02-01 17:06] XAMPPRocky commented on #662
I'm closing this as the original issue has been is no longer relevant, and seems like the rest of this issue belongs on the rust forge repo.

[2020-02-01 17:06] #662 closed

[2020-02-02 13:07] XAMPPRocky commented on #799
I'm going to close this, as far as I can tell the website now uses fluent everywhere, and the final item of translating everything is better tracked through Pontoon and/or creating issues for specific language translations.

[2020-02-02 13:07] #799 closed

[2020-02-02 13:31] XAMPPRocky commented on #887
I'm going to close this as the current direction of this issue is unclear. For integrating this functionality into Pontoon, I would recommend filing a bug on their [Bugzilla](https://bugzilla.mozilla.org/enter_bug.cgi?product=Webtools&component=Pontoon&rep_platform=all&op_sys=all). If there are specific changes we can make to make it easier on website side, please file a separate issue.

[2020-02-02 13:31] #887 closed

[2020-02-02 13:34] XAMPPRocky commented on #811
I'm going to close this as this does not seem relevant anymore, everything is using flexbox classes now.

[2020-02-02 13:34] #811 closed

[2020-02-03 09:19] #901 closed

[2020-02-03 14:04] #699 closed

[2020-02-03 14:04] #955 closed

[2020-02-03 14:05] XAMPPRocky commented on #587
I'm going to close this as it is no longer relevant, the page has since changed.

[2020-02-03 14:05] #587 closed

[2020-02-03 14:06] #309 closed

[2020-02-03 14:07] XAMPPRocky commented on #437
Install is now in the navbar, it could probably be better but it fixes this issue.

[2020-02-03 14:07] #437 closed

[2020-02-06 07:12] Zexbe commented on #827
It works for me too, and I am a new contributor. I think the update has been out long enough that it's no longer an issue.

[2020-02-06 09:07] XAMPPRocky commented on #827
Okay, I'm going to close this as solved.

[2020-02-06 09:07] #827 closed

[2020-02-06 23:53] HaskuldrKrionskij opened #1006 "Found a typo in RU locale"
# Content Bug Report

## Page(s) Affected
https://www.rust-lang.org/ru/learn/get-started

## What needs to be fixed?
увидтиле
https://github.com/rust-lang/www.rust-lang.org/blob/10570dff6d797a6ae188fecce30882ff336179fa/locales/ru/learn.ftl#L93

## Suggested Improvement
увидите

[2020-02-07 04:34] Manishearth commented on #1006
cc @funkill

[2020-02-07 07:08] funkill commented on #1006
Fixed on Pontoon. Also fixed some other typos.

[2020-02-07 15:24] #1006 closed

[2020-02-08 17:55] godcrampy opened #1007 "Update roadmap link to 2019 post"
# Content Bug Report

## Page(s) Affected
* Home Page: `rustlang.org/`

## What needs to be fixed?
The _Build it in Rust_ section on the home page summarizes 2018 year. It needs to be updated to summary of 2019 or possibly a timeline.

## Suggested Improvement
I feel that the four domains section should remain as they are and just the one liner summary should be updated along with the link to the

[2020-02-10 03:39] #733 closed

[2020-02-10 03:39] #954 closed

[2020-02-10 03:39] #969 closed

[2020-02-11 19:29] XAMPPRocky commented on #624
I'm going to close this, as this doesn't appear actionable. And at least for the install page this is no longer the case as it now uses white-green-white.

[2020-02-11 19:29] #624 closed

[2020-02-11 19:30] XAMPPRocky commented on #621
Closing as no longer relevant, as the footer's colour has changed.

[2020-02-11 19:30] #621 closed

[2020-02-11 19:30] #586 closed

[2020-02-11 19:31] XAMPPRocky commented on #478
Closing as no longer relevant as the colours have changed.

[2020-02-11 19:31] #478 closed

[2020-02-11 19:56] XAMPPRocky commented on #670
I believe everyone is represented now, and if there are any missing teams they should be added to https://github.com/rust-lang/team instead. If there are teams that are on `team` but not on the website, please file an issue for the relevant teams

[2020-02-11 19:56] #670 closed

[2020-02-11 20:09] XAMPPRocky commented on #777
I'm going to close this as their is now https://timetill.rs which has this functionality, is being maintained (admittedly by me), and we link to it on the Rust website. In the future we could integrate it into the Rust site directly.

[2020-02-11 20:09] #777 closed

[2020-02-12 17:21] #27 closed

[2020-02-12 22:52] #968 closed

[2020-02-12 23:08] XAMPPRocky commented on #884
I'm going to close this, as I also don't think automatic language switch would be worth the tradeoffs. I think we could do a bit of a better job advertising the localisations though.

What I think would be feasible is adding some kind of client side code that checks if your browsers language matches one of the available and spawns a popup that offers you to the choice to switch and once the user h

[2020-02-12 23:08] #884 closed

[2020-02-13 00:14] Manishearth commented on #884
Browser language is set by header and detection can't be completely client side. We could parse the Accept-Language header server side instead and add a little JS.

[2020-02-13 09:18] XAMPPRocky commented on #884
@Manishearth I don't think that's right. You can use [`navigator.language`](https://developer.mozilla.org/en-US/docs/Web/API/NavigatorLanguage/language)/[`navigator.languages`](https://developer.mozilla.org/en-US/docs/Web/API/NavigatorLanguage/languages) to pick up the language on the client side

[2020-02-13 16:13] Manishearth commented on #884
Hmm, yeah, I usually find Accept-Language to be better for this, but I guess it's fine given that we're not autoswitching

[2020-02-15 20:23] MOrlassino opened #1012 "Getting Started with Rust on the Windows Subsystem for Linux (WSL)"
# Content Bug Report
## Page(s) Affected
https://www.rust-lang.org/learn/get-started

## What needs to be fixed?
I suggest adding a clarification under the section "Generating a new project" that there may be a dependency on cc linker.  Under Ubuntu this would be installed with "sudo apt install build-essential". This issue is also discussed on Stack Overflow at https://stackoverflow.com/questions

[2020-02-20 00:27] harry-zuzan opened #1016 "Code with "error" does in fact compile"
# Content Bug Report

## Page(s) Affected
Please list the page or pages this bug is present on. Please file one issue
for each bug you find. Only file an issue for a multi-page bug if the bug is
indeed the *same* bug, across the pages.
https://doc.rust-lang.org/1.8.0/book/references-and-borrowing.html

## What needs to be fixed?
Tell us what content is causing the issue and *how* it is causing the

[2020-02-20 00:40] XAMPPRocky commented on #1016
@harry-zuzan Thank you for your issue! This is the repository for the website, not the Rust book, and that is an old version of the book. Rust has improved to the point where that is no longer a issue. I recommend reading the latest version of the book instead.

https://doc.rust-lang.org/book/

[2020-02-20 00:40] #1016 closed

[2020-02-28 23:25] jsjoeio commented on #918
Wow. Impressed with the thorough writeup + the suggestion on how to fix this 👏

Are you still planning to do this @wyze or can I pick it up?

[2020-02-28 23:38] wyze commented on #918
Thanks! I did plan on fixing it, but was just waiting to hear from someone on the direction which they wanted to go.

[2020-02-29 09:03] pietroalbini commented on #918
Hmm, personally I'd prefer top aligned, do you have any opinion @XAMPPRocky?

[2020-02-29 09:57] XAMPPRocky commented on #918
@wyze Thank you for your issue! I agree with @pietroalbini and would say top-aligned would be preferred here.

[2020-03-01 10:09] XAMPPRocky commented on #719
Thank you for your issue! I'm going to close this, as whether this is still an issue is unclear and there's been no traffic, if there still are problems building the website on windows. Please file a new issue.

[2020-03-01 10:09] #719 closed

[2020-03-01 10:32] XAMPPRocky commented on #905
I'm going to close this as wontfix as it seems this is intentional.